<%- include base_extras %>
<script>
    document.title = '<%= title %> | offside.by';
</script>
<div class="size1020 single-article-css article<%- id %>">
    <div class="mainArea toLeft">
        <!--TODO: migrate if necessary-->
        <%# cache 99999 article article.cache_key user.is_authenticated user.is_staff %>
        <div class="singleArticle">
            <% if (req.session.user && req.session.user.isStaff) { %>
                <div class="toRight">
                    <a href="/admin/eleven/article/<%= id %>/"><!-- <a onClick="$('.singleArticle').attr('contentEditable', 'true')" href="#"> -->ஔ</a>
                </div>
            <% } %>
            <h2>
                <% if (flag) { %>
                    <div class="flag <%= flag %>"></div>
                <% } %>
                <%= title %>
            </h2>
            <div class="authorInfoSingleBig clearfix">
                <!-- TODO: render authors with links -->
                <h3 class="authorInfoSingleBigName toLeft"><span class="ifNeed">&nbsp</span><%- renderAuthors(authors) %>,</h3>
                <h4 class="authorInfoSingleBigDate toLeft">
                    <span><%= moment(publication_date).format('DD MMM YYYY в HH:mm') %></span>
                </h4>
                <script>
                    $(document).ready(function(){
                        $('.singleArticle img').captionate();
                    });

                    function rate(how)
                    {
                        $.ajax({
                            type: "GET",
                            url: "/articles/<%= id %>/rate/" + how + "/",
                            success: function(result) {
                                $('#goodnessCounter').html(result)
                            }
                        });
                    }
                </script>
                <div class="articleRating toRight">
                    <span>Новость:&nbsp </span>
                    <a class="good" href="#" onClick="rate('good')">Хорошая</a> &nbsp|&nbsp
                    <a href="#" onClick="rate('bad')">Плохая</a> Текущий рейтинг:
                    <span><strong id="goodnessCounter"><%= goodness %></strong></span>
                </div>
            </div>

            <% if (covervideo) { %>
                <%= covervideo %>
            <% } else { %>
                <%# thumbnail article.coverphoto "890" crop="center" as img %>
                <a href="/<%= coverphoto %>">
                    <img src="/<%= coverphoto %>" width="890">
                </a>
            <% } %>

            <p><strong><%= description %></strong></p>

            <p>
                <!--TODO: migrate thumbnalize_images -->
                <%- rest_content %>
            </p>

            <div class="tags">
                <span>Упомянуты: </span>
                <!-- TODO: format correct tag url -->
                <% for ( var i in tags) { %>
                    <a href="<%= '/' %>"><span class="label"><%= tags[i].name %></span></a>
                <% } %>
            </div>
            <!--TODO: migrate social-widgets-part.html -->
            <%# include "elevenby/social-widgets-part.html" %>
        </div>

        <%- include comments %>
    </div>

    <div class="widgetArea toRight">
        <!--TODO: migrate widgets -->
        <%# for i in widgets %>
        <div id="<%# widgets[i].name %>_container">
            <%# initial_html %>
        </div>
        <%# } %>

        <div class="widgetItem pubBanner">
            <!-- Яндекс.Директ -->
            <div id="yandex_ad"></div>
            <div id="vk_groups"></div>
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 0, width: "345", height: "290"}, 44151969);
            </script>
        </div>
    </div>
</div>