<%
// TODO: migrate from base_extras.py
navigation = function(path, urls) {
    return "";
}
%>

<%
renderAuthors = function(authors) {
    return authors.map(renderAuthor).join(", ");
}

renderAuthor = function(author) {
    var url = '/users/' + author.username;
    return '<a href="' + url + '">' + author.getFullName() + '</a>';
}
%>
