<div class="commentsList">
    <h3 class="commentsH3">Комментарии:</h3>
    <script>
        function replyTo(target_id, target_author) {
            $('.comment#' + target_id).after($('.comments'));
// $('.comments textarea').val( target_author+', ' );
            $('.comments input[name=parent]').val(target_id);

            return false;
        }
    </script>
    <div class="comments">
        <!--TODO: migrate post comment form-->
    </div>

    <div id="commentsAnchor">
        <% function renderComment(comment) { %>
            <div class="comment" id="<%- comment.id %>">
                <div class="commentAvatar">
                    <img src=""/>
                </div>
                <div class="commentUsername">
                    <% if (comment.user) { %>
                    <a href="<%# comment.user.get_absolute_url() %>"><%# comment.user.get_full_name %></a>
                    <% } else { %>
                    <a href="#"><%- comment.user_name %></a>
                    <% } %>

                    <!--TODO: what is user.profile.player ?-->
                    <%# var playerLink = comment.user.profile.player_link %>
                    <%# if (playerLink) { %>
                    <!--<a href="<%# player_link.team.get_absolute_url %>"><%# player_link.team %></a>-->
                    <%# } %>
                </div>
                <span class="commentTime">
                    <%- moment(comment.submit_date).format('DD MMM YYYY г. HH:mm:ss') %>
                </span>
                <a class="commentPermalink" style="color:#acadad; padding: 0px 5px 3px 5px" href="">#</a>
                <div class="commentContent"><%- comment.comment %></div>
                <br>
                <a href="#" onClick="replyTo">Ответить</a>
            </div>
        <% } %>

        <% function renderRoot(root) { %>
            <% for (var i = 0; i < root.children.length; i++) { %>
                <% var comment = root.children[i] %>
                <% renderComment(comment) %>
                <% if (comment.children.length > 0) { %>
                    <div class="commentChildren">
                        <% renderRoot(comment) %>
                    </div>
                <% } %>
            <% } %>
        <% } %>
        <% renderRoot(comments) %>
    </div>
</div>