<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta property="og:image" content="http://offside.by/static/css/img/offside_cover.png" />
    <link rel="image_src" href="http://offside.by/static/css/img/offside_cover.png">
    <meta property="og:description" content="Главные новости и лучшие тексты о белорусском и мировом футболе. Актуальные репортажи и интервью">
    <meta name="description" content="Главные новости и лучшие тексты о белорусском и мировом футболе. Актуальные репортажи и интервью">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/dima.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.js"></script>
    <!-- <script type="text/javascript" src="/static/js/fss.js"></script> -->
    <!--<script type="text/javascript" src="/static/js/comments.js"></script>-->
    <meta name='yandex-verification' content='57f9ee28c5aa366c' />
    <meta name='yandex-verification' content='542742fc6a6780eb' />
    <meta name="google-site-verification" content="-N7GUm40eGYSemmhCN68j8d_kx5RCvmFrYLDDxrtjHE" />
    <link href='http://fonts.googleapis.com/css?family=Neucha&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <!-- <link href="/media/jquery-autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" /> -->
    <title>Заголовок | offside.by</title>
</head>
<!--TODO: body {% if request.path == '/' %}class="mainPageBody"{% endif %} -->
<body>
    <div class="ttr">
        <div class="brand"></div>

        <div id="header">
            <div class="gradientSecond logoBar clearfix">
                <div class="size1020">
                    <div class="toLeft" style="padding-top: 5px;padding-bottom:10px;">
                        <a href="/">
                            <img class="imgLogo22" style="margin-top:28px;" src="/images/whiteoby.png"/>
                            <!--img class="imgLogo22" style="margin-top:28px;" src="/static/images/whiteoby.png"/-->
                            <!--img class="imgLogo22" style="margin-top:28px;" src="/static/images/vertWhite.png"/-->
                            <!--img class="imgLogo22" style="margin-top:28px;" src="/static/css/img/offsideby_logo.png"/-->
                            <!--img class="imgLogo22" style="margin-left: 15px;margin-top: 15px;width: 150px;" src="/static/images/vertLogo.png"/-->
                            <!--img class="imgLogo22" src="http://offside.by/static/css/img/obyny2.png"/-->
                        </a>
                    </div>
                    <div class="toRight">
                        <div class="blogInHeader">
                            <div class="photoBiH">
                                <%# random_blog_quote %>
                            </div>
                        </div>
                        <!--div class="topBlock">
                             <a rel="nofollow" target="_blank" href="http://abff.by/index.php?option=com_zoo&task=item&item_id=2787&category_id=2&Itemid=106&lang=ru">
                                 <img src="/images/cupFinal2016.png" />
                             </a>
                         </div-->
                    </div>
                    <script>
                        $(document).ready(function(){
                            <!-- TODO: where is #inputSearch ?-->
                            $('#inputSearch').autocomplete({ serviceUrl: '/dynamic/autocomplete/1/search/' });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="mMenu size1020 clearfix" style="margin-top:-40px;position:relative;">
            <ul>
                <% include base_extras %>
                <li <%- navigation(null, '<empty>') %>><a href="/">Главная</a></li>
                <li <%- navigation(null, 'articles reports blogs feeds feed posts') %>><a href="/articles/">Материалы</a></li>
                <li <%- navigation(null, 'gallery') %>><a href="/gallery/">Фотогалереи</a></li>
                <li <%- navigation(null, 'video') %>><a href="/video/">Видео</a></li>
                <li <%- navigation(null, 'schedule') %>><a href="/schedule2016/">Календарь ЧРБ 2016</a></li>
                <li <%- navigation(null, 'about') %>><a href="/teams/1/">О сайте</a></li>
                <li <%- navigation(null, 'schedule') %>><a href="http://by.offside.by">Лучший игрок</a></li>
            </ul>

            <div class="searchUI">
                <div class="toRight">
                    <ul>
                        <% if (req.session.user) { %>
                            <li>
                                <% var user = req.session.user %>
                                <a class="loggedUserLink" href="<%- '/users/' + user.username + '/' %>"><%- user.username %></a>
                                <a href="/logout/?next=<%- req.path %>">Выйти</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="#" id="loginForPopup">Войти</a>
                                <a href="/register/">Регистрация</a>
                            </li>
                        <% } %>
                        <!--
                        <li class="vk"> <a href="#"></a> </li>
                        <li class="tw"> <a href="#"></a> </li>
                        <li class="fb"> <a href="#"></a> </li>
                        -->
                    </ul>
                    <div class="loginPopUp">
                        <div class="headerPopup clearfix">
                            <div class="toLeft"><span>Войти </span></div>
                            <div class="toRight"><span class="closeLoginPopUp">&times;</span></div>
                        </div>
                        <form id="loginForm" method="post" action="/login-form/?next=<%- req.path %>">
                            <!--TODO: to be migrated-->
                            <%# csrf_token %>
                            <input name="username" placeholder="Логин" id="id_username"> <!--autofocus-->
                            <input name="password" type="password" placeholder="Пароль" id="id_password">
                            <input id="loginSubmit" type="submit" value="OK">
                        </form>
                        <a href="/user/password/reset/" style="color:#006E97;text-decoration:underline">Забыли пароль?</a>
                        <div class="socNetAut">
                            <span>Войти, используя запись в социальной сети:</span>
                            <br/>
                            <a class="vkEnter" href="{% url 'socialauth_begin' 'vkontakte-oauth2' %}?next={{ request.path }}"></a>
                            <!-- <a class="fbEnter" href="#"></a> -->
                            <a class="twEnter" href="{% url 'socialauth_begin' 'twitter' %}?next={{ request.path }}"></a>
                            <a class="goEnter" href="{% url 'socialauth_begin' 'google-oauth2' %}?next={{ request.path }}"></a>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function(){
                            $("#loginForPopup").click(function(){
                                $(".loginPopUp").show();
                            });
                            $(".closeLoginPopUp").click(function(){
                                $(".loginPopUp").hide();
                            });

                            // $('a[data-pjax]').pjax();
                        });
                    </script>
                </div>
                <!--
                <form id="widgetSearchForm" method="get" action="/search/">
                    <input id="inputSearch" type="text" name="q" class="search input-xlarge"> </input>
                    <input type="submit" value="" id="submitSearch">
                </form>
            -->
            </div>
        </div>

        <div id="wrapper" class="clearfix">
            <% var messages = [] %><!--TODO: what messages?? This line addded not to break compilation-->
            <% if (messages != undefined) { %>
                <% for (var i = 0; i < messages.length; i++) { %>
                    <% var message = messages[i]; %>
                    <div class="alert alert-<% message.tags %>"><%= message %></div>
                <% } %>
            <% } %>

            <!--TODO: suka, check difference between django and ejs-->
            <!--<div class="size1020">-->
            <%- body %>
            <!--</div>-->
        </div>
    </div>

    <div class="contenter"></div>

    <div class="footer">
        <div class="wrapper">
            <ul class="clearfix">
                <li><a href="/">Главная</a></li>
                <li><a href="/gallery/">Фотогалереи</a></li>
                <li><a href="/articles/">Материалы</a></li>
                <!--<li><a href="/mission/">Миссия</a></li>-->
                <!--<li><a href="/table/">Таблицы</a></li>-->
                <!--<li><a href="http://futsal.offside.by">ЧМ 2015 по футзалу</a></li>-->
                <!--<li><a href="/beach/">Пляжный футбол</a></li>-->
                <li><a href="/video/">Видео</a></li>
                <li><a href="/schedule2016/">Календарь ЧРБ 2016</a></li>
                <li><a href="/teams/1/">О сайте</a></li>
            </ul>
            <br>
            <div class="publicPage">
                <a href="http://vk.com/offsideby" target="_blank"><img src="/images/vk.png"></a>
                <a href="http://instagram.com/offsideby" target="_blank"><img src="/images/insta.png"></a>
                <a href="http://twitter.com/offsideby" target="_blank"><img src="/images/tw.png"></a>
            </div>
            Ежедневный, преимущественно иллюстрированный белорусский журнал о мировом футболе.
            <br>
            Администрация вправе размещать любую информацию, не противоречащую законам РБ и здравому смыслу.
            <br>
            <br>
        </div>


        <div class="ratings_f" style="background: #DADADA;">

            <script id="_wauprf">
                var _wau = _wau || [];
                _wau.push(["small", "bkz50thggn0h", "prf"]);
                (function() {var s=document.createElement("script"); s.async=true;
                    s.src="http://widgets.amung.us/small.js";;
                    document.getElementsByTagName("head")[0].appendChild(s);
                })();
            </script>

            <!-- TODO: i have no idea what's going here -->
            <!--LiveInternet counter-->
            <script type="text/javascript"><!--
            document.write("<a href='http://www.liveinternet.ru/click' "+
                    "target=_blank><img src='//counter.yadro.ru/hit?t26.3;r"+
                    escape(document.referrer)+((typeof(screen)=="undefined")?"":
                    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                    ";"+Math.random()+
                    "' alt='' title='LiveInternet: показано число посетителей за сегодня' "+
                    "border='0' width='88' height='15'><\/a>")
            //--></script><!--/LiveInternet-->
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43710378-1', 'offside.by');
            ga('send', 'pageview');

        </script>

    </div>
</body>
</html>