<% include base_extras %>
<script>
    document.title = 'offside.by | Интернет-журнал о футболе. Новости, обзоры, статистика, фото, видео, аналитика футбола в Беларуси и мире';
    $('meta[name=description]').remove();
    $('head').append('<meta name="description" content="offside.by | Интернет-журнал о футболе. Новости, обзоры, статистика, фото, видео, аналитика футбола в Беларуси и мире">');
</script>

