﻿html {height: 100%;}
* html body {height: 100%;}
.contenter {  padding-bottom: 200px;  width:10px;}
.footerB {
    display: inline-block;
    margin-top: 12px;
}
.footer {  position: absolute;  bottom: 0;  height: 150px; width:100%; min-width: 1020px;}
.ttr+div+.footer {min-width: 1160px;}
.widgethead a.division {text-transform: capitalize; font-size:12px;}
.blogName {max-width:165px;}
.logout {-moz-box-sizing: border-box; box-sizing: border-box; padding:10px; background:#fff; border:1px solid #ccc;}
.clickable {cursor:pointer;}
.imgLogo2 {float:left; margin-top:14px; padding-right:15px;}
#wrapper .search {width:auto; height: auto; margin: auto; padding: auto;}
input:not([type="image"]), textarea {-moz-box-sizing: border-box;box-sizing: border-box;}
.calendarMatches a, .tTeam a {color: #006E97; font-weight:bold;}
.articlesArchive a {font-weight:bold; color: #298FC9; }
.articlesArchive a:hover{color:#1177B1}
.infoSinglePlayer .lastestnews {margin-top:10px;}
.articlesArchive h2 {padding-bottom:3px !important; margin-bottom:0 !important;}
.darkStyle  .navTopAndBottom a  {color: #333;}
.darkStyle  .navTopAndBottom a:first-child {padding-right:0px;}
.darkStyle  .navTopAndBottom a:hover  {color: #000;}


/*search page*/
#wrapper .search form {padding:10px 20px 20px 20px; width: 765px;}
#wrapper .search h2 {background: #333; color: white; padding: 8px; font-size: 15px; margin-bottom:15px;}
#wrapper .search h3 {margin:0px 0px 5px 0px; padding:3px 0px; border-bottom:1px solid #dadada; width: 764px;}
#wrapper .search p  a {font-size:13px; font-weight:bold; line-height:15px; color: #006E97}
#wrapper .search table {width:990px; position:relative;}
#wrapper .search table th {vertical-align: top;}
#wrapper .search table td ul {margin-left:160px; margin-top:-8px; }
#wrapper .search table td ul li label{ font-size:11px;}
#wrapper .search table td .subSearch{position:absolute; margin-top: 6px;background: #333;color: white;padding: 5px 8px;border-radius: 4px;font-weight: bold;cursor: pointer; margin-left: 615px;
margin-top: -57px;}
#wrapper .search table td .subSearch:hover {background: #1a63ae;}
#wrapper .search table td ul li {float:left; margin-right:5px;}
#wrapper .search table td ul li input {vertical-align: top; margin: 1px; height: 11px;}
#wrapper .search table tr:nth-child(2n) {background: #fff; color:#7B7B7B;}
#wrapper .search table tr:nth-child(2n) th {color: #fff;}
#wrapper .search table #id_q {border:1px solid #dadada; padding: 5px 10px; width: 600px; margin-bottom:5px;}

/*edit_profile*/
.profileEdit h2 {height: 34px; line-height: 34px; padding: 0px 10px;font-weight: bold; background: #333; color: white;}
.profileEdit  .form-horizontal {background:#fff; padding:15px 10px;}
.profileEdit  .form-horizontal input {border-radius: 0px; height:25px; padding:3px 5px;}
.profileEdit  .form-horizontal #id_extra_info {width:500px; max-width:500px;}
ul.playerBio li a {display: inline-block; padding: 5px 0;}
.singlearticle .profilePlayerExtra p {padding-left:5px;}
.singlearticle .profilePlayerStats .comment {min-height:10px; padding-bottom: 5px; padding-left:5px;}
.singlearticle .profilePlayerStats .comment a {color: #006E97; font-weight:bold;}
.singlearticle .profilePlayerStats .comment .commenttime {float:left; padding-right:10px; margin-top:1px;}

.profileEdit .control-group {padding:5px 0px;}
.profileEdit .control-group label {float:left;width:110px; font-weight:bold;}
.profileEdit .controls input {border:1px solid #dadada;}
.profileEdit .controls textarea {border:1px solid #dadada; padding:5px;}
.secoFS .controls input {width:500px;}
.profileEdit  .controls {color:#fff;}
.profileEdit  .controls a {display:none;}
.profileEdit #id_avatar {border:none; margin-left:40px; margin-top:-6px;}


.profileEdit .form-actions { padding:10px 0px; margin-top:5px;}
.profileEdit .form-actions .btn-primary {background: #333;  color: white; padding: 5px 8px; border-radius: 4px; font-weight: bold; cursor: pointer; margin-left: 108px }
.profileEdit .form-actions .btn-primary:hover {background: #1a63ae;}
.profileEdit .styledEdit .controls {position:relative; margin-left:110px; margin-top: 5px; margin-bottom: 20px; line-height: 44px; margin-bottom: -7px;}
.profileEdit .styledEdit .controls label {position:absolute;top: 21px; left: 21px; font-weight:normal;}
.profileEdit .styledEdit .controls label:hover {text-decoration:underline; cursor:pointer; }
.profileEdit .styledEdit .controls input{position: absolute; left: 0; width: 14px; top: 30px;}
.profileEdit .styledEdit .controls input#id_avatar {position: relative; left: auto; width: auto; top: auto; border:none;}



.online1 table.matchStatictics {width:310px;}
.online1 table.matchStatictics  td {text-align:center;}


/*redesign v2*/
body {background: #E5E5E5;}

#header {margin-bottom:0; height:132px;}
#wrapper {background:none;}

/*header*/
.gradient.loginBar {height:19px; padding:5px 0; background: #565656; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MjQyNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #565656 0%, #424242 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#424242)); background: -webkit-linear-gradient(top,  #565656 0%,#424242 100%); background: -o-linear-gradient(top,  #565656 0%,#424242 100%); background: -ms-linear-gradient(top,  #565656 0%,#424242 100%); background: linear-gradient(to bottom,  #565656 0%,#424242 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#424242',GradientType=0 ); text-align:right;}
.dummieLoginShadow {border-top: 1px solid #D5D3D3; border-bottom: 1px solid white;}
.loginbar li a {font-size:12px; line-height: 15px; margin-top: 3px; border-left: 1px solid #7C7C7C; padding-left:8px; margin-left:8px; color:#fff;}
.loginbar li a.loggedUserLink {border-left:none;}

#loginForPopup, .loggedUserLink {border-style: solid; border-width: 1px; border-color: #6B6B6B #575858 #252627; border-radius: 4px; background: #353535;height: 17px;line-height: 17px; padding: 2px 5px; color: white; text-decoration:none; margin-right:5px;}	
#loginForPopup:hover, .loggedUserLink :hover {background: #555; text-decoration:none;}
.loginbar .size1020 {width:1000px;}
.gradientSecond {background:none; border:none;}
a .siteName  {color: #000;}
a .siteSlogan:hover {text-decoration:underline; color:#000;}
.siteName {font-size: 56px;}
.siteSlogan {margin: -13px 0px 0px 100px; font-size: 13px; font-weight: bold; color: #333; letter-spacing: -1px; cursor: pointer;}
 .enterExit {color:#fff;}


/*main menu*/
.mMenu {border-top: 1px solid #dadada; padding-top:10px;}
.mMenu ul {margin-top:0; width:740px; float:left;}
.mMenu ul li {float: left; display: block; margin: 0px 8px 0 0 ;}
.mmenu ul li:first-child {margin-left:0 !important;}
.mMenu ul li a {display: block; padding: 6px 8px; font-size: 12px; color: #3C4349; font-weight: bold; background: #D6D9DB; border-radius: 3px 4px;border: 1px solid;border-color: #FFFFFF #AAAAAA #B6B6B6 #FFFFFF;; box-shadow: 1px 1px 10px #fff;}
.mMenu ul li.active a {background: #464646; color: white; border: 1px solid; border-color: #E2E2E2 black #A3A3A3 black;border-color: #4B4B4B #555 #000000 black;box-shadow: none;border-radius: 3px;} 
.mMenu ul li a:hover {background: #181818; color: #fff; border-color: #E2E2E2 #5A5A5A #A3A3A3 #5F5F5F;}

/*sidebar*/
#wrapper #widgetSearchForm {padding:10px;}
#wrapper #inputSearch {width:260px; height:30px; margin-right:5px; border: 1px solid #DADADA;}
.widgetItem #submitSearch {margin-top:0;}






/*main page*/
.other_articles_container .lastestNews {border: 1px solid #DADADA; background: #fff;}
.other_articles_container .lastestNews .navtopandbottom a {color:#333;}
.itemNews {border: 1px solid #CCC; background: white; padding: 10px 15px; margin-bottom: 10px; }
.itemnewstext h3 {margin-bottom:5px;line-height:16px;}
.itemnewstext h3 a:hover {text-decoration:underline;}
.indexSingleThumb {margin-top:3px;}
.addInfoV2 {margin-top:5px;}
.addInfoV2 .toLeft a {color: #008DB9; font-weight: bold;}
.addInfoV2 .toRight a {color: #666; }
.addInfoV2 .toRight a:hover {text-decoration:underline;}
/*hot news*/
.hotNews {display:none; width: 658px; height: 22px; border: 1px solid #DADADA; margin-bottom: 10px; background: white; padding:0; line-height:22px;}
.hotNews  .toRight {margin:-2px 2px 0 0;}
.hotNews  .toRight a {background:#616161;}
.hotNews  .toRight a:hover {background:#000;}
.indexHotNews {display:inline-block; padding: 0px 10px; background: black; line-height: 22px; color:#fff; font-size:11px;}
.contentHotNews {display:inline-block; padding: 0px 5px; line-height: 22px; color:#000; font-weight:normal;font-size:11px;}
.contentHotNews a {font-size:11px;}
.hotNews .navleftandright a {display:none;}


/*comments block*/
#commentsAnchor { border-top: 1px solid #dadada; }
.comment {padding: 7px 10px 20px 10px; cursor:default;}
.comment:hover {background: #f5f5f5;}
.comment .toRight a {color:#B1B1B1; font-size:11px; }
.comment .toRight a:hover {color:#E40000;}
.commentUsername a {color:#1F1F1F;}
.comments {width:658px; margin-top:0; background:#fff; border:none; clear:both; height: inherit; margin-bottom: 20px;}
.comments textarea {width:100%; margin: 10px; border: 1px solid #DADADA;max-width: 618px; max-height: 60px;margin-left:20px;}
.comments input {margin-top:10px; margin-right:10px;}
.comments input:focus {
	outline: 0!important;
}
.comments form > div {
	margin-top: 10px;
}
.comments form > div > * {
	margin-top: 0!important;
}
.comments input[type="submit"] {
	background: #007374;
	color: #fff;
	border: none!important;
	border-radius: 0;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	margin-right: 20px;
	margin-top: 0;
}
.comments input[type="submit"]:hover {
	background: #005455;
}
.ttr .comments textarea {
	max-width: 760px;
}
.comments form:after {
content: '.';
display: block;
clear: both;
visibility: hidden;
font-size: 0;
line-height: 0;
height: 0;
}
.commentChildren .comments {
	width: 100%!important;
}
/*.commentslist {width:658px; margin:0; padding:10px 0 0 0; border:1px solid #dadada; background: #fff; }*/
.commentsList {padding-bottom: 1px;}
h3.commentsH3 {padding: 15px 10px 5px 20px; margin:0;}
.commentContent  p {padding:0 2px;}
.commentsSingleStuff {background: white; padding: 10px 15px 0 15px;  border: 1px solid #DADADA; border-bottom: none;}
#id_name {display:block;margin-left:20px;}

.commentChildren { margin-left: 20px; padding-left: 10px; border-left: 1px dotted #dadada; padding-bottom: 1px;}
.commentChildren .comments textarea {
	margin-left: 0!important;
}
.commentChildren .comments input[type="submit"] {
	margin-right: 10px!important;
}
/*TEMP*/
.gallery {margin-top:0;}
.pika-stage {width:644px !important;}

/*single news*/
.tags span {font-size:11px;}
.articleRating, .articleRating span, .articleRating a, .articleRating strong {font-size:11px;}
.articleRating a {color:red;}
.articleRating a.good {color:#00C720;}
.singlearticle .lastestNews {height:28px; line-height:30px;}
.singlearticle .navleftandright a {line-height:17px; width:16px; height:16px; margin: 6px -3px;}

.indexSingleThumb {position:relative;}
.singlePostInfoOnMain {display:none;}
.rateBlock {display:none;}
.category {font-size:11px;}
.category  span {font-size:11px;}
.category  [class*=rateSpan] {font-weight:bold !important; position:relative; cursor:pointer;}
.rateBlock {position: absolute; margin-top: 2px; background: #F7F7F7; border: 1px solid #AFAFAF;  z-index: 7; width: 168px; padding: 10px; font-weight: normal; left: -93px;}
.rateBlock .toLeft, .rateBlock .toRight {font-size:11px;}
.rateBlock .toLeft {color:#}


/*blog*/
/*.singleblogentity {padding:10px; border:1px solid #dadada; margin-bottom:10px; background: #fff;}*/
.singleblogentity h2 {font-size:18px;}
.singleblogentity p {font-size:13px;line-height:18px;margin: 12px 0px;text-align:justify;}
.authorinfosinglebig {float:none; margin:0; padding:0;border:none; margin-top:3px;border-bottom: 1px solid #DADADA;}
.authorInfoSingleBig h3 {margin-right:7px; font-size:11px;}
.authorInfoSingleBig h3 span {font-size:11px; font-weight:normal;}


.blogNameSingle {font-size:12px; font-weight:bold; color:#236EB3; letter-spacing:-1px;}
.blogNameSingle:hover {text-decoration:underline;}

/*featured*/
.featuredItems  {margin-bottom:10px;margin-bottom: -30px;}
.featuredItems ul li {display:inline;}
.featuredItems ul li:first-child a {margin-left:0;}
.featuredItems ul li a {float:left; width:332px; height: 279px; overflow:hidden; margin-left:12px; }
.featuredItems ul li a:hover {background: #dadada;}
.featuredItems ul li a img {width:200px; height:130px; padding:5px; background: #fff;border: 1px solid #DADADA }
.featuredItems ul li a span {display:block; color: #333; font-weight:bold; font-size:14px; padding:3px 10px; max-height:30px; overflow:hidden; text-align:left;}


/*userinfo*/
.newStyleUser {padding: 16px 15px; background: white; padding-bottom: 3px; border: 1px solid #DADADA; border-bottom: 0; border-radius: 3px 3px 0 0;}
.playerItem .lastestNews {height:30px; line-height:30px;margin-bottom:3px;}
.playerItem .navleftandright a {margin: 7px -3px;}
.playerItem .lastestNews:first-child {margin-bottom:0;}

/*footer*/
.footer { border-top: 1px solid #A7ADB2; background: #dadada; margin-top: 20px; padding: 10px 0px; text-align: center;}
.footer ul {margin: 0 auto; display: inline-block;}
.footer ul li {float: left; padding: 10px 5px;}
.footer ul li a {color: black; font-weight: bold;}
.footer ul li a:hover {text-decoration:underline;}


/*pagination*/
.lastestnews  .paginationNew  li {float:left;margin-right:5px;}
.lastestnews  .paginationNew  li a {display:block; border:1px solid #dadada; padding:5px; line-height: 7px; margin-top:8px; color: #333;}
.lastestnews  .paginationNew  li:hover a {background:#333; color:#fff;}

/*newslist*/
.articlesArchive, .about {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;	box-sizing: border-box; background:#fff; padding:10px; border: 1px solid #E2E2E2;}
.about {padding: 20px 25px 20px 20px;}
.about h2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}
.about:before,.about:after {
	content: ' ';
	display: block;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	height: 0;
}
.about h1 {font-size:14px; padding:0 0 10px 0;}
.about p {padding: 0 0 8px 0; font-size:13px;}
.about table {
	width: 48%;
	margin-left: 1.5%;
	float: left;
}
.about table td {
	display: inline-block;
	border-bottom: 1px solid rgba(0,0,0,0);
}
.about table tr:nth-child(n+2) td:nth-child(1) {
	margin-left: 0;
	font-weight: 700;
	padding-right: 6px;
	text-align: right;
    margin-right: -3px;
}
.about table tr:nth-child(n+2) td:nth-child(1),.about table tr:nth-child(n+2) td:nth-child(2) {
	margin-top: 15px;
	margin-bottom: 5px;
	color: #fff;
	width: 49%;
	background: #007374;
}
.about table td:nth-child(2):before {
	content: ' (';
}
.about table td:nth-child(2):after {
	content: ')';
}
.about table:nth-child(4) td:nth-child(2):before {
	content: ' (';
	margin-right: -3px;
}
.about table:nth-child(4) td:nth-child(2):after {
	content: ')';
	margin-left: -3px;
}
.about2016 table:nth-child(4) td:nth-child(2):before {
	content: ' (';
	margin-right: 0;
}
.about2016 table:nth-child(4) td:nth-child(2):after {
	content: ')';
	margin-left: 0;
}
.about table td:nth-child(n+3) {
	text-align: left;
	width: 100%;
	display: inline-block;
}
.about table tr:nth-child(1) td{	
	text-align: center;
	display: block;
	font-size: 16px;
	font-weight: 700;
}
.about table:nth-child(3) tr:nth-child(1) td {
	padding-left: 30px;
}
.about table:nth-child(4) tr:nth-child(1) td {
	padding-left: 14px;
}
.about table tr {
	background: none;
}
.about .teams {
	margin-bottom: 20px;
}
.about .teams img {
	max-width: 45px;
	max-height: 45px;
	margin: 10px 13px;
	cursor: pointer;
	opacity: 0.9;
}
.about .teams img:hover {
	opacity: 1;
}
.about .teams img:last-child {
	margin-right: 0;
}
.about td.active {
	color: #ff0096;
    font-weight: 700;
}
.about2016 .teams img {
    max-width: 50px;
    max-height: 50px;
    margin: 10px 8px;
}
/*online section main page*/
.onlineIndex {width:658px; border:1px solid #ccc;background:#fff; font-family:arial; font-size:11px; border-bottom:none; margin-bottom:10px;}
.nameSection {color:#fff; padding:5px 10px; font-weight:bold;  font-size:11px;}
.headOnline {border-bottom:1px solid #ccc; background: black; color: white;}
.itemListOnline {border-bottom:1px solid #ccc; padding:5px 10px;}
.itemListOnline:hover {background:#F1F1F1; cursor:default;}
.onlineIndex span {padding-right:30px;  font-size:11px;}
.onlineIndex span a {font-weight:bold;  font-size:11px; color: #333;}
.onlineIndex span a:hover {text-decoration:underline;}
.matchOnline {display:inline-block; width:290px;}
.minuteOnline {display: inline-block; width:58px;}
.scoreOnline {display:inline-block; width:12px;}
.closePicOnlineS {padding: 0 10px;  font-size:11px;}
.closePicOnlineS a {font-size:11px; color: #fff;}
.closePicOnlineShow {display:none;}
.nextOnline {background:#F8F5E4;  font-size:11px;}
.refreshOnline img {position:relative; top:5px; left:5px;}

/*search*/
.searchUI {float:right;}
.search {padding:5px;}

/*blogInHeader*/
.blogInHeader {width:400px; height:85px;display:none;}
.photoBiH {position:relative;}
.sayImg {position:absolute; right: 0; top: 0; border:3px solid #fff; box-shadow: 1px 2px 11px #D5D5D5;}
.theySayBlock {width: 300px;}
.dateTheySay {text-align:right; padding-right:10px; font-size:10px;}
.whoIsTheySay {text-align:right; padding-right:0; padding-bottom:3px;}
.whoIsTheySay a {color:#000; font-weight:bold; font-size:11px;}
.theySay {width: 308px; margin-top:10px; border: 1px solid #DADADA; background: white; position: relative; z-index: 2; border-radius:5px; position:relative;right: 15px;top: -5px;}
.theySay p {font-size:11px; padding: 5px 10px 1px 10px; color:#000;}
.rightTri {    position:absolute; right:-8px; bottom:5px; width: 0;    height: 0;    border-top: 7px solid transparent;    border-left: 10px solid #fff;    border-bottom: 7px solid transparent; }


/*report*/
.widgetListTeam  a {color: #006E97; font-size:12px; font-weight:bold; display:inline-block; width:200px;}
.widgetListTeam td {color:#313131;}
.gg .widgetListTeam table th {padding:2px 0; font-size:11px;}
.widgetStatsTeam .teamOne {width:300px;}
.widgetStatsTeam .teamOne tr td {text-align:center; }
.teamOneReserve td, .teamTwoReserve td {background:#E2E2E2;}
.teamOneReserve tr:first-child td, .teamTwoReserve tr:first-child td {border-top:1px solid #fff;} 
/*pagination*/
.other_articles_container  .lastestNews .toRight  .navTopAndBottom div {float:left;}
.other_articles_container  .lastestNews .toRight  .navTopAndBottom div  a {width:auto; color:#333;}
.other_articles_container  .lastestNews .toLeft span {display:none;}

/*table*/
.fulltable {width:660px; background:#fff; margin-top:0; border:1px solid #dadada;padding: 0 10px 10px;}
.tplace {padding:5px; width: 15px !important;}

.articlesArchive h1 {padding: 0 0 10px 0; font-size: 13px;}
.articlesArchive h1 a { font-size: 13px;}
.clockonlinerefresh {background: #0F0F0F;}
.articlesarchive a.blogAutorList {font-size: 11px; font-weight: bold; color: black; margin-left:-2px;}
.articlesarchive a.blogAutorList:before {content:", ";}
.singleblogentity .blogNameSingle:before {content:"Опубликовано в блоге: "; color: #525252; letter-spacing: 0px; font-size:12px; font-weight:normal;}
.singleblogentity .blogNameSingle:before:hover {text-decoration:none;}
.widgetListStrikers td a {color: #006E97; font-weight: bold;}


/*caption*/
.imgWithCaption {position:relative;display:inline-block;max-width:100%;}
.imgWithCaption img {width:auto !important;}
.imgWithCaption img {max-width:100% !important;}
.captionImg {position:absolute; bottom:3px; padding:5px 10px 7px 10px; background:url('http://dropi.ru/wCh.png'); color:#fff;width:100% !important; box-sizing:border-box; border-top:1px solid #000; -moz-box-sizing:border-box;}
.descriptionCaption {font-family:arial; font-size:12px;}
.copyRightImg {font-family:arial;color:#A5A5A5; font-size:11px;}
.floatLeftIMG {float:left; padding: 0 10px 0 0;}
.floatRightIMG {float:right; padding: 0 0 0 10px;}


.singlearticle:after {content: '.'; display: block; clear: both; visibility: hidden; font-size: 0; line-height: 0; height: 0;}
.blogsUserpic img {border:3px solid #fff; box-shadow: 1px 2px 11px #D5D5D5;}
.widgetBody.widgetTable {background:#fff;}
.widgetBody.widgetTable .currentTeamInTable {background:#FCD94E;}
.socialWidgets {margin-top:10px;}
.countFoot {margin:5px 0;}

#goodnessCounter {position:relative;}
.alreadyRatedMessage {display:block; position:absolute; padding:2px 5px; border-radius:3px; border:1px solid #dadada;width: 142px; background: white; right: -4px; top: -21px;}

.onlineIndex {display:none;}

.postsList h2 {border-bottom: 1px solid #dadada !important;}
.postsList span:first-child {display:none;}
.postsList a {color:#298FC9; font-size:13px;}

.postsList span a {color: #8A8A8A; font-size:11px; font-weight:normal;}
.postsList span a:after {content: " ";}
.team1 .playerInfoSingleBig,.team1 .playerInfoSingleBigPhoto {width: 365px!important; margin-top: 10px;}
.team1 .clearfix+.lastestNews,.team1 .playerBio.teamBio+.clearfix,.team1 .teamStats {
	display: none!important;
}
.team1 .profileTeamPlayers {
	display: inline-block;
}
.loginBar a {color:#fff;}
.comment a {color:#298FC9; font-weight:bold;}
/*minigal*/
.galWid {position:relative; -moz-box-sizing: border-box; box-sizing:border-box; width:318px;background:#fff;}
.gWhead {padding:0 10px; height: 30px; line-height: 30px; background: #333;}
.gWhead .toRight {color:#fff;cursor:default;}
.gWhead a {color:#fff; font-size:14px;}
.gWimg {width: 298px; margin:10px; overflow:hidden;}
.gWimg img {width:298px;}
.selgW {background:#fff; color:#444;font-size:0; padding-bottom:10px;}
.selgW:hover {color:#000; cursor:default;}
.gWnav {display:inline-block; width:26px; height:26px; background:#000; text-align:right; background: url(http://offside.by/static/css/10/butLR.png) no-repeat -32px -1px; margin:0 5px;cursor:pointer;}
.gWnav:hover {background: url(http://offside.by/static/css/10/butLR.png) no-repeat -32px -28px;}
.gWnav:first-child {text-align:left; background: url(http://offside.by/static/css/10/butLR.png) no-repeat -5px -1px;;}
.gWnav:first-child:hover {background: url(http://offside.by/static/css/10/butLR.png) no-repeat -5px -28px;}
.gWcount {display:inline-block; width:241px; vertical-align:top; text-align:center; }

.firstItemGalMin .gWnav:first-child {visibility:hidden;}
.lastItemGalMin .gWnav {visibility:hidden;}
.lastItemGalMin .gWnav:first-child {visibility:visible;}


/*gal*/
.wrapGG {width:1020px; border: 1px solid #CCC; min-height:250px;margin:0 auto; position:relative;background:#fff;}
.lnpGG {-moz-box-sizing: border-box;box-sizing:border-box; width:1020px; padding: 18px 23px 0 23px;}
.lnpGG input {background:#f7f7f7; border:none; color:#333; padding:3px 5px; width:180px;margin-bottom:10px;float:right;border: 1px solid #CCC;margin: 2px 5px;}
.lnpGG a {color:#333; text-decoration:none; border-bottom:1px #333 dashed; font-weight:bold;margin-left:5px; line-height:24px;}
.lnpGG a:hover {color:#000; border-bottom:none;;}
.lnpGG span {color:#dadada;margin-left:5px; line-height:30px; font-size:15px;}
.lnpGG h1 {font-size:16px; margin-bottom:10px; }
.lnpGG h2 {font-size:13px; margin-bottom:5px;}
 
.mainGGshow {-moz-box-sizing: border-box;box-sizing:border-box; padding-top:20px;padding-bottom:60px; position:relative;}
.mainGGshow ul {height:auto; overflow:hidden;}
.mainGGshow ul.down1 {height:auto; max-height:1360px;}
.mainGGshow ul.down2 {height:auto; max-height:2050px;}
.mainGGshow ul.down3 {height:auto; max-height:2740px;}
.mainGGshow ul.down4 {height:auto; max-height:3430px;}
.mainGGshow ul.down5 {height:auto; max-height:4120px;}
.mainGGshow ul.down6 {height:auto; max-height:4810px;}
.mainGGshow ul.down7 {height:auto; max-height:5500px;}
.mainGGshow ul.down8 {height:auto; max-height:6190px;}
.mainGGshow ul.down9 {height:auto; max-height:6880px;}
.mainGGshow ul.down10 {height:auto; max-height:7570px;}

.mainGGshow li {display:inline-block; width:298px; height:200px; border:1px solid #ccc;margin-left:28px; margin-bottom:28px; position:relative;}
.moreGG {position:absolute; bottom:30px;left:30px; background:#3a3a3a; width:960px;height:30px; text-align:center;}
.moreGG a {display:block;color:#fff; text-decoration:none;line-height:30px; font-size:16px;}
.moreGG a:hover {background:#000;}

#listGG li {overflow:hidden;float:left;}
#listGG li img {height:auto; overflow:hidden;}
a.hideAA {display:none;}
.descGG {position:absolute; bottom:0; background:#fff; padding:5px; width:97%; color:#333; font-weight: 700;}

/*single gal*/
.galMainBlock2 { -moz-box-sizing: border-box; box-sizing: border-box; background: white; border: 1px solid #ccc; padding: 10px 30px 50px 30px; position:relative;} 
.galMainBlock2 h1 {font-size:19px; margin-bottom:7px;}
.galMainBlock2 li {position:relative; display:none; padding: 20px; border:1px solid #dadada; text-align:center; -moz-box-sizing: border-box; box-sizing:border-box; width:958px;padding-bottom: 0;border-bottom: none;}
.galMainBlock2 li img {max-width:916px;}
.galMainBlock2 li.first {display:block;}
.galMainBlock2 li.first a.leftButGG {display:none;}
.galMainBlock2 li.last a.rightButGG {display:none;}

.galMainBlock2 li span {display:block; text-align:left; color:#000; background:#EBEBEB; padding:10px 20px; font-size:13px;  -moz-box-sizing: border-box; box-sizing:border-box; width:958px; z-index:121;border: 1px solid #DADADA; margin-left: -21px; font-weight:normal;margin-top:20px;}
.galMainBlock2:hover a.leftButGG               {position:absolute; cursor:pointer ;background: url(img/nav_arrowsl.png) no-repeat left center;width:45%; height:100%; left:0;top:0;opacity: 0.7;z-index:120;}
.galMainBlock2 a.leftButGG:hover {z-index:120;opacity:0.9}
.galMainBlock2:hover a.rightButGG {position: absolute;cursor:pointer ; background: url(img/nav_arrowsr.png) no-repeat right center;width: 45%; height: 100%; right: 0; top: 0%; z-index: 120; opacity: 0.7;z-index:120;}
.galMainBlock2 a.rightButGG:hover {z-index:120;opacity:0.9}

.galMainBlock2 .comments, .galMainBlock2 .commentsList {width:956px;}
.galMainBlock2 .comments textarea {max-width:915px;}
.editto2 {position:absolute;top:10px;right:10px;}
.galSingleInfo {border:1px solid #dadada;border-bottom:none; color:#636363;background:#ebebeb;width:940px; padding:3px 6px 3px 10px; }
.galSingleInfo .toLeft span {color:#636363; display:inline-block;padding:3px 0;}
.galSingleInfo .toRight {margin-top:2px;}
.galSingleInfo .toRight a {display:inline-block; width:20px; height:20px; border-radius:1px;margin-left:2px; background:#ccc; color:#fff; text-align:center;line-height:21px;font-weight:bold;outline: 1px solid #F1F1F1;}
/*.galSingleInfo .toRight a.gsVK {background:#1d4475;}*/
.galSingleInfo .toRight a.gsVK:hover {background:#1d4475}
/*.galSingleInfo .toRight a.gsFB {background:#3b5998;}*/
.galSingleInfo .toRight a.gsFB:hover {background:#3b5998;}
/*.galSingleInfo .toRight a.gsTW {background:#41abe1;}*/
.galSingleInfo .toRight a.gsTW:hover {background:#41abe1;}
/*.galSingleInfo .toRight a.gsOK {background:#ffac40;}*/
.galSingleInfo .toRight a.gsOK:hover {background:#ffac40;}
.galSingleInfo .toRight a.gsCode:hover {background:#000;}


/*
.fix100 {width:100%;}
.fix100hide {display:none;}
.fix100 .imgWithCaption {display:block; width:700px; margin:0 auto;}
.fix100 .imgWithCaption img {width:700px !important;}
.fix100 .commentsH3 {padding-left:60px;}
.fix100 .comments, .fix100 .commentsList {width:1018px;}
.fix100 .comments textarea {width:800px; max-width:800px;margin-left:50px;}
.fix100 .comments input {margin-right:50px;}
.fix100 .singleArticle p, .fix100 .singleblogentity p {margin:12px 40px;}
.fix100 .socialWidgets, .fix100 .tags {margin-left:40px; margin-right:40px;}
.fix100 .import {width: 93%; margin: 0 36px; -moz-box-sizing: border-box; box-sizing: border-box;}
.singleArticle h5 {color:#999; font-size:16px; margin:10px 0;}
.fix100 .hoverZoomLink {text-align: center; display: block;}
.fix100 .hoverZoomLink img {display:inline-block;}
*/


#feed_widget_container {margin-bottom:10px;display: inline-block; width: 345px; vertical-align: top;}
.itemNews+#feed_widget_container {margin-bottom:10px;display: inline-block; width: 675px; vertical-align: top;}

/*news*/
.wnews {width:318px; border:1px solid #bebebe;border-bottom-color: #B6B6B6;}
.wnewshead {color:#fff; background:#333;padding:5px 5px 5px 10px;font-size:14px;}
.wnewsmenu {background:#adadad; border-bottom:1px solid #dadada;padding:10px 0 10px 10px;border-bottom: 1px solid #DADADA;}
.wnewsmenu ul li {display:inline-block;width:118px;text-align:center;border:1px solid #5F5858;margin-left:5px;padding:3px 0;color:#3C4349;border-bottom:none;cursor:pointer;background:#D6D9DB;border-color: #fff #CCC #C5C5C5 #fff;border-radius:3px;box-shadow: 0px 1px 0px #BBB;}
.wnewsmenu ul li:first-child {width:46px;margin-left:0;}
.wnewsmenu ul li.active {background:#464646;color:#fff;font-weight:normal;border-color:#000;border-top:none;border-color: #5C5C5C #4D4D4D #525252 #3D3D3D;box-shadow: 0px 1px 0px #797979;}
.wnewsmenu ul li:hover {color:#fff;background:#181818;}
.wnewsdesc {color: #414141; background: #CECECE; padding: 1px 10px; font-size: 11px;border-bottom: 1px solid rgb(219, 219, 219);padding-bottom: 2px;}
.wnewsdesc .wnewschoosenby {text-decoration:underline; cursor:default;}
.wnewsdesc .wnewschoosenby:hover {color:#000;}
.wnewsnav {float:right;}
.wnewsnav span {font-size:12px; color:#000;}
.clickable {cursor:pointer;}
.wnewslist {background:#F3F3F3;padding:0 8px;}
.wnewslist a{color: #006E97; font-weight: bold;text-decoration:none;}
.wnewslist li {padding: 5px 0; border-bottom: 1px solid #ECECEC;}
.itemNews+#feed_widget_container .wnewslist li {height: 31px;}
.wnewslist ul li:last-child {border-bottom:none;padding-bottom:8px;}
.wnewslist li span {color:#818181;font-size:11px;}
.wnewslist a:hover {color:#0080AF}
.wnewslist li span.wnewsaddinfo {white-space:nowrap; margin-left:0; color:#414040; padding:0 5px;margin-right:3px; font-size:9px; border:1px solid #D5D5D5;background:#e0e0e0;border-radius:3px;vertical-align: middle; font-weight: normal;background: -webkit-linear-gradient(top, #F8F8F8, #E0E0E0); -moz-linear-gradient(top, #F8F8F8, #E0E0E0); border-color: #EBEBEB #DFDFDF #C5C5C5 #D6D6D6;cursor:default;}
.wnewslist li span.wnewsaddinfo:hover {color:#000;}
.wnewsnavbot {padding:0 8px; background: #D5D5D5; height:18px; padding-top:3px;font-size:11px; color:#818181;text-align:center;position:relative;border-top: 1px solid #CACACA;}
.wnewsnavbot span {color:#fff;vertical-align: middle;font-size:11px;}
.wnewsnavbot .toRight {font-size:11px;position:absolute;right: 5px;top: 3px;}
.wnewsnavbot .toLeft {font-size:11px;position:absolute;left: 5px;top: 3px;}
.wnewsnavbot div:hover {color:#000;cursor:pointer;}


.notLoggedInMessage {background: white; padding-top: 10px; padding-bottom: 10px; text-align: center;}
.notLoggedInMessage a {color:#006E97;font-weight:bold;}
.notLoggedInMessage a:hover {color:#0082B3;}

.size1020.login {background: white; -moz-box-sizing: border-box;box-sizing: border-box; border: 1px solid #DADADA; padding: 60px; text-align:center;}
.size1020.login form {display:inline-block; text-align:left;background: #F3F3F3; padding:40px; border-radius: 8px; border: 1px solid #D1D1D1; box-shadow: 1px 2px 10px #D8D8D8;}
.size1020.login form label {display:inline-block;width:150px;}
.size1020.login form input {width:200px; padding:5px; margin-bottom:10px; border: 1px solid #DADADA;}
.size1020.login form input#regsubmit {width:auto;border-radius: 5px; padding: 5px 10px; font-weight: bold; color: white;background: #646464;margin-top:5px;}
.size1020.login form input#regsubmit:hover {background:#000;cursor:pointer;}

h5.n8 {display: block; text-transform:uppercase; text-align: center; border-bottom: 1px solid #DADADA; box-sizing: border-box; font-size: 18px; font-weight: normal; color: dimGray; margin: 20px 0 0 0; font-family: segoe ui, calibri, verdana, sans-serif; padding-bottom: 5px;}

.feed .singleArticle a {color: #0080AF; font-weight:bold;}

.articlesArchive {padding-top:50px;position:relative;}
.modeSelector {margin-bottom:5px;margin-bottom: 5px; position: absolute; background: #DADADA; width: 100%; top:0; left:0; padding: 10px 10px 8px 10px; -moz-box-sizing: border-box; box-sizing: border-box;border-bottom: 1px solid #CCC; border-right: 1px solid lightGrey; border-left: 1px solid lightGrey;}
.modeSelector span, .modeSelector a {display: inline-block; padding: 2px 9px 3px 8px; color: #363636; margin-right: 5px; background: #F0F0F0; border-radius: 3px; border: 1px solid; border-color: white #C9C9C9 #A8A8A8; font-size: 11px;}
.modeSelector span, .modeSelector a:hover  {background: #858585; font-weight: bold; border-color: #8D8D8D;cursor: default; color: white; border-color: #C5C5C5 #DFDFDF #D8D8D8 #838383;}
.modeSelector a:hover {background: #4B4B4B; border-color: #464646 #979797 #1D1D1D #505050;}
.modeSelector a:after {color:#8A8A8A; font-size:0px; content: " "; }

#division_games_container .profileTeamStats table {width:100%; background:#fff; }
#division_games_container .profileTeamStats table a {color:#0080AF; font-size:11px;font-weight:normal;}
#division_games_container .profileTeamStats table tr td {font-size:11px; font-weight:normal; vertical-align:top;}
#division_games_container .profileTeamStats table tr td:first-child {padding-left: 8px;padding-right: 10px;vertical-align: top;}
#division_games_container .profileTeamStats table tr td:last-child {padding-right:10px; text-align:right; width:15px; font-weight:bold;}
#division_games_container .profileTeamStats table tr.thBld td:last-child {display:none;}
#division_games_container .profileTeamStats table tr.thBld td {font-weight:bold;font-size:10px;}
#division_games_container .profileTeamStats table tr td:nth-child(3) {width:20px; text-align:center; padding-right:4px;padding-left: 4px;}
#division_games_container .profileTeamStats table tr td:nth-child(2) {width:20px; }
.modeSelector a:hover  {cursor:pointer;}

/*resize exp*/
/*
#wrapper {width:auto;}
.size1020 {width:auto;min-width: 1020px; max-width: 1280px; position: relative;}
.mainArea {width:auto; min-width:660px;margin-right:355px;float: none !important;}
.widgetArea {position:absolute;right:0;top:0;}
.indexSingleThumb {max-height: 300px;overflow: hidden;width: 40%;float:left; padding: 0 10px 10px 0;border-top:none;}
.indexSingleThumb img {width: 100%;height: auto; }
.gradientSecond {padding:0 10px;}
.mMenu {padding-left:10px;padding-right:10px;}
.commentsList, .comments, h3.commentsH3 {width:100%; box-sizing:border-box;}
.comments textarea {width:82%;max-width:82%;}
.wrapGG {width: auto; max-width: 1280px; min-width: 1020px;}
.infoSinglePlayer table {width:100%;}
.metaDataIndex {border-bottom:1px solid #dadada;margin-bottom:10px;}
.other_articles_container .itemNews .itemNewsText p {padding-top:2px;}
*/






.singleArticle a img, .singleblogentity a img {max-width:100%; height:auto;}

.widgetItem {border:1px solid #f0f0f0;border-radius: 3px 3px 5px 5px;border-top:1px solid #fff;border-bottom:none;background:#fff;}
.wnewshead, .widgetHead, .gWhead {border-bottom: solid 1px #dbdbdb; background-color: #ececec;}
.widgetHead .navTopAndBottom span {color:#747474;}
.widgetHead a, .gWhead .toRight, .gWhead a {color:#747474;}
.widgetBody {border-top:1px solid #fff;background:transparent;border-bottom:1px solid #bbb;border-radius:0 0 3px 3px;}
#blogsWidgetItem {background:#fff;}
#tableWidgetItem {border-bottom:none;}
#tableWidgetItem td {border-bottom: 1px solid #dbdbdb;}
#tableWidgetItem TR:last-child td {border-bottom:none;}
#tableWidgetItem TR:last-child td:first-child {border-radius: 0 0 0 3px;}
#tableWidgetItem TR:last-child td:last-child {border-radius: 0 0 3px 0;}
#tableWidgetItem .widgetBody  {padding:0;}
#tableWidgetItem table {width:100%;}

#article_division_table_container {margin-bottom:10px;border-bottom:none;}
#article_division_table_container td {border-bottom: 1px solid #dbdbdb;}
#article_division_table_container table {width:100%;}
#article_division_table_container table TR:last-child TD {border-bottom:none;}
#article_division_table_container .widgetBody {padding:0;border-radius: 0 0 3px 3px;border-bottom:1px solid #bbb;}
#article_division_table_container .widgetHead  {border-radius: 3px 3px 0 0;border-top: 1px solid #fff;}
.galWid, .selgW {border-radius: 0 0 3px 3px;}
.widgetItem.galWids {border-bottom:1px solid #bbb;}

.wnews {border-radius:3px;}
.wnewshead {color:#747474;height: 24px;line-height: 26px;border-radius:3px 3px 0 0;border-top: 1px solid #fff;}
.wnewsmenu {background: #F0F0F0;border-top: 1px solid #fff;border-bottom: 1px solid #FAFAFA;}
.wnewsdesc {background:#e9e9e9;}
.wnewslist {background:#fff;}

#stageInCalendar .navTopAndBottom span, #stageInCalendar .calendarDate span {color:#919191;font-size:11px;}
.highReliability {color:green;}
.highReliability:after {content:"%";}
#good_articles_container .widgetNews li span, #commented_articles_container .widgetNews li span {white-space:nowrap;}
.wnews .wnewslist li span {white-space:nowrap;}
.infoSinglePlayer table#playersTable tr th{min-width:50px;padding:2px 8px;background:#007374;color:#fff;}
.headerSortUp:after {content:""; position:absolute; background: url(img/supdown.png) no-repeat -3px 6px;display: inline-block;width: 18px;height: 16px}
.headerSortDown:after {content:"";position:absolute; background: url(img/supdown.png) no-repeat -3px -24px;display: inline-block;width: 18px;height: 16px}


.singleArticle  img {max-width:100%;}
.ttr  #header .size1020, .ttr  .mMenu.size1020 {width:auto;width: 1160px;padding: 0 0;}
.ttr  .mMenu.size1020 {padding-top:10px;;}
.ttr .single-article-css.size1020 {width:auto; min-width: 984px;max-width: 1160px;padding: 0;}
.ttr #wrapper {position:relative; width:auto; padding: 10px 0; width: 1160px;}
.ttr .single-article-css .mainArea {width: auto;margin-right: 360px;}
.ttr .single-article-css .widgetArea {position:absolute;right:0;top:10px;}
.ttr .single-article-css .mainArea.toLeft {float:none;}
.ttr .single-article-css .singleArticle a img {width: 100% !important;}
.ttr .captionImg  {border-top:1px solid #706E6E;background:#000;}
.ttr .commentsList, .ttr .comments {width:100%;-moz-box-sizing:border-box;box-sizing:border-box;}
.ttr .comments textarea {margin-left:20px;}
.ttr .comment {padding: 7px 20px 20px 20px;}
.ttr .tac {text-align:center;}
.ttr .tal {text-align:left;}

.import {width:100% !important;-moz-box-sizing:border-box;box-sizing:border-box;}
.video123 .singleArticle p strong, .video124 .singleArticle p strong {display:none;}

#division_games_container {margin-bottom:10px;}
#division_games_container .lastestNews.grayBg {border-bottom: solid 1px #dbdbdb;background-color: #ececec;height: 30px;line-height: 30px;color: #747474;border-radius: 3px 3px 0 0;border-top: 1px solid #fff;}
#division_games_container .lastestNews.grayBg .toLeft span{text-transform:capitalize;}
#division_games_container .navTopAndBottom  a{color: #747474;}

.redOnas  p {margin:15px 0 0 0;font-weight:bold;text-decoration:underline;font-size:12px;}
.redOnas  h2 {color:#000;display:inline-block;margin-right:10px;font-size:13px;font-weight:normal;}
.redOnas a {color:#006E97;font-weight:bold;}
.redOnas a:hover {text-decoration:underline;}

#division_table_container  .widgetHead {border-radius: 3px 3px 0 0;}
.widgetTableInner {position:relative;}
.group.groupB {margin-top:10px;}
.group.groupB:before {content: "";width: 320px;height: 10px;background: #C2C8CD;display: inline-block;position: absolute;left: -1px;top: 181px;}

.singleArticle p img {height:auto !important;}

.predictionContainer table {width:100%}
.predictionContainer table th {padding:7px 10px}
.predictionContainer table td {padding:7px 10px;}
.predictionContainer table .predictedScore input {width:20px;text-align:center;}
.predictionContainer input[type="button"] {margin:10px; background: #464646; color: #fff; font-weight: normal; border-color: #000; border-top: none; border-color: #5C5C5C #4D4D4D #525252 #3D3D3D; box-shadow: 0px 1px 0px #797979; padding: 4px 10px;border-radius: 5px;cursor: pointer;}
.predictionContainer input[type="button"]:hover {opacity:0.8};
.predictionHeader {padding:10px;}
.predictionHeader a {color: #006E97;font-weight: bold;}

.statsModes li { cursor: pointer; float: left; margin-left: 5px; margin-right: 5px; display: block; }
.statsModes li.active { background-color: lightgray; }
.statsTable { clear: left; }

.predictionHeader select {margin:10px 0 20px 0;padding:3px;border:1px solid #ccc;}
.predictionHeader select:focus {outline:none;}
.predictionForm {margin-top:10px;}
.predictionForm table th{border-bottom: solid 1px #000000;background-color: #3F3F3F;color: #fff;}
.predictionForm table th:first-child {border-radius:5px 0 0 0;padding-left:20px;}
.predictionForm table th:last-child {border-radius:0 5px 0 0;}
.predictionForm table tr td:first-child {padding-left:20px;border-left:1px solid #E0E0E0;;}
.predictionForm table tr td:last-child {border-right:1px solid #E0E0E0;;}
.predictionForm table tr:nth-child(even) td {border-top:1px solid #fff;border-bottom: 1px solid #CFCFCF;} 
.predictionForm table tr:hover td {background:#b4b4b4;color:#fff;cursor:pointer;border-top:1px solid #9C9C9C;}
.predictionForm table {position:relative;margin-bottom:15px;margin-top:20px;}
.predictionForm table tr:last-child td:first-child {border-radius:0 0 0 5px;}
.predictionForm table tr:last-child td:last-child {border-radius:0 0 5px 0;}
.predictionForm table tr:last-child td {border-bottom: 1px solid #ccc;}
.predictionForm table tr td:first-child + td {font-weight:bold;}
.predictionForm table tr td:first-child + td + td + td {font-weight:bold;}

.statsPagination { clear:left; }


.statsTable {margin:32px 0 20px 0;}
.statsTable table th{border-bottom: solid 1px #000000;background-color: #3F3F3F;color: #fff;}
.statsTable table th:first-child {border-radius:5px 0 0 0;padding-left:20px;}
.statsTable table th:last-child {border-radius:0 5px 0 0;}

.statsHeader {height:40px;position:relative;}
.statsContainer {position:relative;}
.statsPagination {position:absolute;top:25px;left:0;}
.statsContainer  table {width:100%;}
.statsContainer  table tr td:first-child {border-left:1px solid #e0e0e0;padding-left:20px;width:15px;}
.statsContainer  table tr td:last-child {border-right:1px solid #e0e0e0;}
.statsContainer  table tr:last-child td:first-child {border-radius:0 0 0 5px;}
.statsContainer  table tr:last-child td:last-child {border-radius: 0 0 5px 0;}
.statsContainer  table td {padding: 7px 10px;border-bottom:1px solid #ccc;border-top:1px solid #fff;}
.statsContainer  table th {padding: 7px 10px;border-bottom:1px solid #000;}
.statsContainer  table tr:first-child td {padding-top:8px;border-top: 1px solid #D5D5D5;}
.statsContainer  table tr:last-child td {padding-bottom:8px;}
.statsContainer  table td a {color: #006E97;font-weight:bold;}
.statsContainer  table tr {background:#eaeaea;}
.statsContainer table tr.userStat {background:#FFBC44;}
.statsContainer table tr.userStat td {border-bottom: 1px solid #BBB;border-top: 1px solid #CC8B00}
.statsContainer table tr td:last-child {width:130px;text-align:center;font-weight:bold;}
.statsContainer  table tr:hover td {background: #b4b4b4;border-top:1px solid #9C9C9C;color:#fff;}
.statsContainer  table tr:hover td a {color:#fff;}
.statsModes li {padding:3px 10px; margin:0 5px 0 0;border-radius:3px;border: 1px solid #5F5858;color: #3C4349;border-bottom: none;cursor: pointer;background: #D6D9DB;border-color: #CFCFCF #CCC #C5C5C5 #C7C2C2;border-radius: 3px;box-shadow: 0px 1px 0px #BBB;}
.statsModes li.active {background: #464646;color: #fff;font-weight: normal;border-color: #000;border-color: #5C5C5C #4D4D4D #525252 #3D3D3D;box-shadow: 0px 1px 0px #797979;}
.statsModes li:hover {background:#000;color:#fff;}
.predictions .singleArticle {padding:20px 20px 10px 20px;}
.statsContainer  select {margin:10px 0 20px 0;padding:3px;border:1px solid #ccc;}


body #header .size1020  {position:relative;}
.mainpageBanner {display:block;position:absolute;width:426px;height:56px;right:0;background:url(http://offside.by/media/illustrations/2013/11/11/banner_vakansii.png) no-repeat;top:22px;}
.mainpageBanner:hover {background:url(http://offside.by/media/illustrations/2013/11/11/banner_vakansii2.png) no-repeat;}
.mainpageBanner2 {display:block;position:absolute;width:426px;height:56px;right:0;background:url(http://offside.by/media/illustrations/2013/11/11/banner_vakansii01.png) no-repeat;top:22px;}
.mainpageBanner2:hover {background:url(http://offside.by/media/illustrations/2013/11/11/banner_vakansii02.png) no-repeat;}
body .ttr #header .size1020 {padding:0;}


.singleArticle a {color:#006E97;}
.singleArticle a:hover {text-decoration:underline;}

.topStat, .topStat  * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.navlou {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px 10px;background-color: #3F3F3F;color: #fff;border-radius:3px 3px 0 0;width:1021px;margin-bottom:1px;}
.topStat {border-left:1px solid #ccc;background: #fff;width: 1021px;position:relative;}
.topStat:before {content:"";display:block;width:100%;height:1px;background:#ccc;bottom:0;left:0;position:absolute;}
.topStat .tdClass{width:340px;padding:1px 15px;color:#0080AF;font-weight:bold;}
.topStat .tdClass:after {content:"";display:block;width:1px;height:24px;background:#ccc;bottom:0;right:0;position:absolute;}
.topStat .tdClass:hover {background:#FFAD00;color:#fff;}
.topStat .tdClass a {color: #006E97;font-weight:bold;}
.topStat .tdClass:hover a {color:#fff;}
.topStat .tdClass:hover a span {color:#fff;}
.topStat .tdClass {border-left:none;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-top:-1px;}
.topStat .tdClass a span {color:#ccc;}
.topStat .tdClass .gameTime {margin-left:10px;float:right;color: #202020;font-weight: bold;font-size: 11px;}
.topStat .tdClass:hover .gameTime  {color:#fff;}
.videoonlineFrame {margin-top:10px;text-align:center;}

.topStat .tdClass .gameScore {float: none;color: #0066B6;display: inline-block;background: #DFDFDF;padding: 0 5px;margin: 0 3px;height: 16px;line-height: 16px;top: 0px;position: relative;border-radius:2px;color:#000;font-size:11px;}

.ttr .topStat {width:801px;}
.ttr .topStat .tdClass {width:400px;}
.ttr .navlou {width:801px;} 


/*newyear*/
/*body { background: url(http://i2.minus.com/iIMySOHSfOVas.jpg) center bottom fixed;}*/
/*body { background: url(http://i.imgur.com/tjyDwqf.jpg) center bottom fixed;}*/


.ad.ad-feed {margin-top:10px;}
.ad.ad-feed .ya-partner__pic-container {display:none !important;}
.ad.ad-feed  .ya-partner__ads-l {background:none !important;}
.ad.ad-feed .ya-partner_ads-up .ya-partner__ads {text-align:right !important;}
#feed_widget_container .ad.ad-feed  .ya-partner_border {border-radius:4px !important;position:relative;}
.ad.ad-feed  .ya-partner_border:before {content: "Реклама";position: relative;width: 100%;height: 15px;color: #747474;font-size: 14px;padding: 8px 10px;display: block;border-bottom: solid 1px #dbdbdb;background-color: #ececec;border-radius: 5px 5px 0 0;border-top: 1px solid #fff;}
.ad.ad-feed  .ya-partner__list {padding:0 4px 6px 4px;}

.ad.ad-videoonline  {margin-top:10px;}
.ad.ad-videoonline .ya-partner__item {float:left !important;width:135px;}
.ad.ad-videoonline .ya-partner__pic-container {display:none !important;}



#blogsWidgetItem {display:none;}
#image {display:none;}
body.mainPageBody  #image {display:block;position: fixed;bottom: 0;left: 50%;margin-left: -673px;z-index:-105;}
/*.videoonlineFrame {margin-left:-15px;}*/
.videoonlineFrame .content {padding:0;}

.bigTitle a {font-size:16px !important;}
.ad.ad-feed, .ad.ad-videoonline {display:none;}


.article609 table {width:100% !important; border-collapse:collapse;}
.article609 table td, .article609 table th {padding:2px 10px !important;border:1px solid #ccc;}
.article609 table.swod2 tr td:first-child {display:none;}
.article609 table.swod td {padding:5px 10px !important;}
.article609 table.swod tr td:first-child {width:50px !important;}



/*bff

.imgLogo22 {
    display: none !important; 
}

html {
    background: #fff !important;
}

body {
    background: url(http://i.minus.com/ibuf1rpX2kU790.jpg) top center no-repeat !important;
}

body:before {
    content: "";
    position: absolute !important;
    height: 900px !important;
    width: 100% !important;
    display: block !important;
    background: url(http://i5.minus.com/ib27DRPtoAWuON.png) repeat-x !important;
    z-index: -1 !important;
}

.gradient.loginBar {
    background: none !important;
}

.dummieLoginShadow {
    display: none !important;
}

.mMenu {
    border: none;
    margin-top: 150px !important;
}

.featuredItems ul li a {
    background: #fff !important;
}

.featuredItems ul li a span {
    background: #fff !important;
    padding: 1px 10px !important;
}

.mMenu ul li a {
    box-shadow: none !important;
    border-radius:0 !important;;border-color:#ccc !important;;
}

.mMenu ul li.active a {
    border-color: #6B6B6B #363636 #3C3C3C rgb(102, 102, 102) !important;
}

.mMenu ul li a:hover {
    border-color: #3F3F3F #363636 #0C0C0C #1F1F1F !important;
}

.ttr #wrapper {
    max-width: 1060px !important;
}

.ttr #header .size1020, .ttr .mMenu.size1020 {
    max-width: 1020px !important;
}

#loginForPopup, .loggedUserLink {
    border-color: #444444 #444444 #3A3A3A !important;
    padding: 1px 5px !important;
}


.tplink {position: absolute;left:0;top:15px;background: transparent;width:100%;height:120px;}
.home-link {position: absolute;left:0;top:180px;background: transparent;width:370px;height:60px;}
*/

.table3 {width:320px;background: #fff;margin-left:-1px;border-radius: 0 0 4px 4px;border-bottom: 1px solid #bbb;}
.table3 table {width:100%;border-collapse: collapse;}
.table3 h5 {font-size:13px;text-align: center;padding:5px 0;border-bottom: 1px solid #E4E4E4;background: #fff;border-top: 1px solid #fff;}
.table3 table tr th {padding:4px 0;background: #F1F1F1;}
.table3 table tr th:first-child {width:40px;text-align: center;}
.table3 table tr th:first-child + th {text-align: left;}
.table3 table tr td:first-child {text-align: center;}
.table3 table tr td:first-child + td {font-weight: bold;}
.table3 table tr td:first-child + td + td {width:40px;text-align: center;}
.table3 table tr td:first-child + td + td + td {width:40px;text-align: center;font-weight: bold;}
.table3 table tr td {padding:4px 0;}
.table3 table tr:nth-child(even) td {background: #E4e4e4;border-top:1px solid #ccc;border-bottom: 1px solid #fff;}
.table3 table tr:nth-child(odd) td {border-bottom: 1px solid #d3d3d3;border-top:1px solid #fff;background: #eee;}
.table3 table tr:hover td {background: #444;color:#fff;cursor:default;border-top:1px solid #000;border-bottom:1px solid #000;}
.table3 table tr:last-child td:first-child{ border-radius: 0 0 0 3px;}
.table3 table tr:last-child td:last-child{ border-radius: 0 0 3px 0;}
.table3 table tr:last-child td {border-bottom: 1px solid #d5d5d5;}


/*new cal*/
.legaue-table {position: relative; margin-bottom: 10px;}
.legaue-table .tur-number span {display: inline-block;vertical-align: top;position: absolute;top:9px;cursor: pointer;}
.legaue-table .tur-number span.tol {left:10px;width: 0;height: 0;border-style: solid;border-width: 5px 10px 5px 0;border-color: transparent #757575 transparent transparent;}
.legaue-table .tur-number span.tor {right:10px;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 10px;border-color: transparent transparent transparent #757575;}
.legaue-table .tur-number span.tol:hover {left:10px;width: 0;height: 0;border-style: solid;border-width: 5px 10px 5px 0;border-color: transparent #1f1f1f transparent transparent;}
.legaue-table .tur-number span.tor:hover {right:10px;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 10px;border-color: transparent transparent transparent #1f1f1f;}
.legaue-table .wnewsnavbot {
	padding: 10px;
	border-top: none;
}
.legaue-table .wnewsnavbot a {
	color: #333;
}
.legaue-table .wnewsnavbot a:hover {
	color: #007374;;
}
.onetur2 {display: none;width:345px;background: #fff;border-radius: 0 0 4px 4px;}
.onetur2 * {box-sizing:border-box;}
.onetur2.current {display: block;}
.onetur2 table {width:100%;border-collapse: collapse;height:434px;}
.onetur2 > div > div:first-of-type {font-size:12px;padding:10px;border-bottom: 4px solid #005455;background: #fff;font-weight: 700;}
.onetur2 table tr td,.onetur2 table tr th {padding:5px 0;}
/*
.onetur2 table tr td:first-child {;width:35px;text-align: right;font-size: 11px;}
.onetur2 table tr td:first-child+td {width:35px;text-align: right;color: #818181;font-size: 11px;}
.onetur2 table tr td:first-child + td + td {width:115px;font-weight: bold;text-align: center}
.onetur2 table tr td:first-child + td + td + td {width:20px;text-align: center}
.onetur2 table tr td:first-child + td + td + td + td {width:115px;font-weight: bold;text-align: center}
*/
.onetur2 table tr td:first-child {;width:35px;text-align: right;font-size: 11px;}
.onetur2 table tr td:first-child + td {width:115px;font-weight: bold;text-align: center}
.onetur2 table tr td:first-child + td + td {width:20px;text-align: center}
.onetur2 table tr td:first-child + td + td + td {width:115px;font-weight: bold;text-align: center}

.onetur2 table.first6 tr:nth-child(odd) td {background: #E4e4e4;border-top:1px solid #ccc;border-bottom: 1px solid #fff;}
.onetur2 table.first6 tr:nth-child(even) td {border-bottom: 1px solid #d3d3d3;border-top:1px solid #fff;background: #eee;}
.onetur2 table.second6 tr:nth-child(even) td {background: #E4e4e4;border-top:1px solid #ccc;border-bottom: 1px solid #fff;}
.onetur2 table.second6 tr:nth-child(odd) td {border-bottom: 1px solid #d3d3d3;border-top:1px solid #fff;background: #eee;}
.onetur2 table.second6, .onetur2 table.first6 {margin-top:-1px;}
.onetur2 table tr:hover td {background: #007374 !important;color:#fff;cursor:default;border-top:1px solid #007374 !important;border-bottom:1px solid #007374 !important;}
.onetur2 table.second6 tr:last-child:hover td {border-bottom:1px solid #ccc !important;}
.onetur2 table.second6 tr:last-child td:first-child{ border-radius: 0 0 0 3px;}
.onetur2 table.second6 tr:last-child td:last-child{ border-radius: 0 0 3px 0;}
.onetur2 table.second6 tr:last-child td {border-bottom: 1px solid #d5d5d5;}

.sbr-ll .onetur2 table tr td:first-child {;width:55px;text-align: right;font-size: 11px;}
.sbr-ll .onetur2 table tr td:first-child + td + td {width:105px;font-weight: bold;text-align: center}
.sbr-ll .onetur2 table tr td:first-child + td + td + td + td {width:105px;font-weight: bold;text-align: center}

.widgetItem .wn-cal {border-bottom: 1px solid #ccc;}
.widgetItem .wn-cal ul li {width:auto;padding: 3px 10px;margin:0 5px 5px 0;}
.widgetItem .wn-tab {border-bottom: 1px solid #ccc;}
.widgetItem .wn-tab ul li {width:auto;padding: 3px 10px;margin:0 5px 5px 0;}


.legaue-table {display: none;}
.legaue-table.active {display: inline-block;vertical-align: top;}
.ch-l .onetur2 {display: block;}
.le-l .onetur2 {display: block;}
.sbr-ll .onetur2 {display: block;}

.table3 {display: none;}
.table3.active {display: block;}

/*2015*/

body.gray {background: url(http://offside.by/media/illustrations/2014/12/23/backgr_offsideby.jpg) no-repeat top center fixed;background-size: cover;}
body.redsox {background: url(http://offside.by/media/illustrations/2014/12/23/backgray_offsideby.jpg) no-repeat top center fixed;background-size: cover;}
#wrapper {background: rgba(255, 255, 255, 0.9);padding:10px 0 20px 0;}
.ttr #wrapper {padding-bottom: 20px;}
#header {width:1060px;margin:0 auto;height:180px;height:208px;}
.dummieLoginShadow {border: none;}
.mMenu {border: none;}
.mMenu ul li a {
	box-shadow: none;	
}
.ttr #header {width:1200px;}
.baloon {position: absolute;right:170px;top:-120px;padding:20px;background: #fff;border-radius: 10px;box-shadow: 3px 3px 12px -6px;}
.baloon:before {content: "";position: absolute;right:-10px;top:30px;width: 0;height: 0;border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #ffffff;}
.baloon p {font-size:18px;line-height: 24px;font-family: 'Neucha', cursive;}
.gradient.loginBar {position: relative;}
.sw {position: absolute;left:20px;top:3px;}
.sw > span, .sw > select {display: inline-block;vertical-align: middle;}
.sw > span {color:#ccc;}
.sw > select {border-style: solid;border-width: 1px;border-color: #6B6B6B #575858 #252627;border-radius: 4px;background: #353535;color:#fff;line-height: 17px;padding: 2px 5px;}
.gradient.loginBar {
	background: #fff;
	border: none;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
	-moz-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
	box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
}
.gradientSecond.logoBar > div > .toLeft {
	margin: 0 auto;
}
#header {
    position: relative;
}
.topBlock {
    margin-top: 30px;
}
.loginBar a {
	color: #353535;
}
#wrapper {
	background: none;
}
.featuredItems ul li a {
	background: #fff;
}
.featuredItems ul li a img {
	border-color: transparent;
}
.searchUI {
	padding-right: 13px;
}
.mMenu {
	background: #fff;
	padding-top: 0!important;
}
.mMenu ul li {
	margin: 0;
}
.mMenu ul li a {
	background: none;
	border: none!important;
	border-bottom: 3px solid rgba(0,0,0,0)!important;
	border-radius: 0!important;
	padding: 13px 13px 10px 13px;
}
.mMenu ul li.active a,.mMenu ul li a:hover {
	background: none;
	color: #3C4349;
	border-bottom: 3px solid #005455!important; 
}
.mMenu ul li a {
	border-color: #CCC;
}
.mMenu ul li a:hover {
	background: #fff;
	border-color: #FFF;
	color: #3C4349;
}
.itemNews {
	border: none;
    overflow: hidden;
}
.widgetArea {
	background: none;
	border: none;
	border-radius: 0;
	width: 345px;
	padding: 0;
}
.wnews {
	width: 345px;
	border: none;
	border-radius: 0;
}
.itemNews+div .wnews {
	width: 662px;
	border: none;
	border-radius: 0;
}
.featuredItems ul li a:hover {
	background: #fff;
}
.featuredItems ul li a span,.wnewslist a,.addInfoV2 .toLeft a,.articlesArchive a {
	color: #333;
}
.featuredItems ul li:hover a span,.wnewslist a:hover,.other_articles_container .lastestNews .toRight .navTopAndBottom div a:hover,.articlesArchive a:hover {
	color: #007374;
}
.loginBar .size1020 .toRight {
	padding-right: 20px
}
#header {
	width: 1020px;
}
.ttr #header {
	width: 1160px;
}
.toRight .imgLogo22 {
	margin-top: 20px!important;
}
.galWid {
	width: 345px;
}
.gWimg {
	margin: 10px 0;
	min-height: 200px;
}
.gWimg,.gWimg img {
	width: 345px;
}
.gWcount{
	width: 273px;	
}
/*
    .singleArticle,.singleblogentity,.commentsList,.other_articles_container .lastestNews,.wrapGG,.galMainBlock2,.mainGGshow li,.legaue-table,.newStyleUser,.mMenu,.widgetItem,.featuredItems ul li a,.wnews,.itemNews,#vk_groups {
	border: none;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
	-moz-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
	box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
	border-radius: 0;
}
    */

.galMainBlock2 .commentsList {
	margin-top: 20px;
	border-top: 1px solid #dadada;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}
.wnewshead, .widgetHead, .gWhead {
	border-radius: 0;
	background: #fff;
	border: none;
	border-bottom: 4px solid #005455;
}
.wnewshead *, .widgetHead *, .gWhead *,.wnewshead, .widgetHead, .gWhead {
	font-size: 12px!important;
	font-weight: 700!important;
	color: #222!important;
}
.wnewsmenu,.wnewsdesc {
	display: none;
}
.wnewsnavbot {
	background: #fff;
	color: #818181;	
}
.wnewsnavbot span {
	color: #818181;	
}
.wnewslist {
padding: 10px 8px 0 8px;	
}
.widgetItem,.widgetBody {
	border: none!important;
	border-radius: 0;
}
.mMenu .toRight ul {
	width: inherit;
	float: none;
}
.moreGG {
	background: none;
	width: 950px;
}
.toRight #loginForPopup,.toRight .loggedUserLink,.toRight #loginForPopup+a,.toRight .loggedUserLink+a,.moreGG a,.modeSelector span,.modeSelector a {
display: block;
float: left;
padding: 5px 13px 5px 13px;
height: inherit!important;
margin: 8px 5px 0 0;
border: none!important;
border-radius: 0!important;
line-height: inherit!important;
}
.modeSelector span,.modeSelector a {
float: none;
display: inline-block;
margin: 0 0 0 5px;
}
.toRight #loginForPopup,.toRight .loggedUserLink,.moreGG a,.modeSelector a {
	background: #007374;
	color: #fff;
	border: none!important;
}
.toRight #loginForPopup:hover,.toRight .loggedUserLink:hover,.moreGG a:hover,.modeSelector a:hover {
	background: #005455;
	color: #fff;
	border: none!important;
}
.toRight #loginForPopup+a,.toRight .loggedUserLink+a,.modeSelector span {
	background: #ccc;
	border: none!important;
}
.toRight #loginForPopup+a:hover,.toRight .loggedUserLink+a:hover {
	background: #a6a6a6;
	border: none!important;
}
.moreGG a {
	float: none;
	margin: 0 auto; 
	line-height: 30px!important;
}
.metaDataIndex {
	margin-top: 10px;
	padding-bottom: 10px;
}
.itemNewsText {
	position: relative;
}
.itemNewsText h3 a {
	display: block;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
}
.legaue-table~.itemNews .itemNewsText h3 a {
	font-size: 28px;
    width: 100%;

}
.indexSingleThumb {
margin: -10px -16px;
position: relative;
}
.indexSingleThumb > a:before {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: '';
background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 29%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(29%,rgba(0,0,0,0.4)), color-stop(50%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 29%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 29%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 29%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 29%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
background: rgba(0,0,0,0.4);
}
.indexSingleThumb > a > img {
width: 660px;
}
.indexSingleThumb > p {
	padding-top: 0;
}
.indexSingleThumb iframe {
	width: 505px;
    height: 350px;
	position: relative;
	z-index: 3;
    margin-bottom: -2px;
}
.featuredItems ul li a img {
	width: 100%;
	border: none;
	padding: 0 0 3px 0;
	height: auto;
}
#wrapper,.ttr #wrapper {
	padding-top: 15px;
}
.ttr .single-article-css .widgetArea {
	top: 15px;
}
.banner {
margin-bottom: 15px;
font-size: 15px;
display: inline-block;
color: #333;
background: #fff;
padding: 10px 10px 5px 5px;
-webkit-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
-moz-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
}
.banner:hover {
color: #007374;
}
.banner .imgLogo22 {
float: left;
margin-right: 10px;
height: 65px;
margin-top: -5px!important;	
}
.modeSelector {
	background: #e3e3e3;
}
.ymaps-2-1-17-copyrights-pane {
	display: none;
}
.brand {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /*background: url(../images/theme.png) center top no-repeat #01405a;*/
    /*background: url(../images/euroTheme.jpg) center top no-repeat #fff;*/
    /*background: url(../images/cupBackground.svg) center no-repeat;*/
    background: url(../images/offside_triangular_bg.svg) center top no-repeat;
    background-size: cover;
}
.ttr .logoQuali {
    margin-left: 110px!important;
}
.blogdiv {
    border-bottom: 1px solid #ddd!important;
}
#24lb_footer {
    display: none!important;
}
#teamsBelMac+div > div:nth-child(2) > p {
    background: #007374!important;
    color: #fff!important;
    border: none!important;
}
#teamsBelMac {
    border: 1px solid #007374;
    margin-bottom: 20px;
    padding: 0 10px;
}
.onetur2 table.PLCalendar tr td,.onetur2 table.PLCalendar tr th {
    text-align: center;
  border-bottom: 1px solid #ECECEC;
  background: #fff;
  width: 90px;
}
.onetur2 table.PLCalendar tr td:nth-child(2),.onetur2 table.PLCalendar tr th:nth-child(2) {
    text-align: left;
}
.onetur2 table.PLCalendar tr td:first-child + td + td + td {
    font-weight: 400;
}
.onetur2 table.PLCalendar tr td:first-child + td {
    width: 240px;
}
.activeDay.activeMonth {
    font-weight: bold;
}
.postInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff!important;
    width: 70%;
}
.legaue-table ~ .itemNews .postInfo {
    width: 100%;
}
.postInfo .toLeft {
    font-size: 16px;
}
.postInfo h3 {
    margin-bottom: 20px;
}
.addInfoV2 span,.addInfoV2 span a,.addInfoV2 .toRight a,.addInfoV2 .toLeft a {
    color: #fff;
}
.newsCategory {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    color: #fff;
    background: rgba(255,153,51,0.8);
    z-index: 49;
}
.newsCategory:before {
    display: none;
}
.legaue-table~.itemNews {
    display: inline-block;
    width: 475px;
}
.legaue-table~.itemNews:nth-child(even) {
    margin-right: 7px;
}
.legaue-table~.itemNews:nth-child(odd) {
    margin-left: -1px;
}
.indexSingleThumb .addInfoV2 {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
}
.metaDataIndex {
    height: initial;
    padding: 0 0 30px 0;
}
.legaue-table~.itemNews .metaDataIndex {
    height: 0px;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.legaue-table~.itemNews .indexSingleThumb > a > div {
    height: 350px!important;
}
.itemNews:hover .metaDataIndex {
    height: initial;
    padding: 0 0 30px 0;
}
.legaue-table ~ .itemNews {
    margin-bottom: 8px;
    vertical-align: top;
}
.itemNews:last-of-type {
    display: none;
}
span.usersNumber {
    font-size: 12px;
    font-weight: bold;
}
.featuredItems h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 10px 0;
    color: #333;
}

@media (max-width: 991px) {   
    .postInfo .toLeft {
        font-size: 12px;
    }
    .wnewslist ul {
        max-height: 392px;
        overflow-y: auto;
    }
    .itemNews + #feed_widget_container .wnewslist li {
        height: initial;
    }
}
.mMenu ul li:nth-child(7) a {
    color: #fff;
    background: #F58634;
    padding: 5px 13px 5px 13px;
    margin: 8px 5px 0 0;
    border: none!important;
}
.mMenu ul li:nth-child(7) a:hover {
    background: #DE772A;
}