﻿* {margin:0;padding:0;list-style:none;font-family:arial;font-size:12px;text-decoration:none;border-spacing:0;border:none;}
.navMenu li {float:left;}
.clearfix:after {content: '.';display: block;clear: both;visibility: hidden;font-size:0;line-height: 0;height: 0;}
.toLeft {float:left;}
.toRight {float:right;}
#header {width:100%;height:144px;margin-bottom:24px;}
.size1020 {width:1020px;margin:0 auto;}
.loginBar li {color:#ccc;line-height:20px;text-decoration:none;display:block;float:left;font-size:11px;}
.loginBar {padding-top:4px;}
#loginForPopup, .loggedUserLink {border-style: solid; border-width: 1px; border-color: #6B6B6B #575858 #252627; border-radius: 4px; background: #353535;height: 17px;line-height: 17px; padding: 2px 5px; color: white; text-decoration:none; margin-right:5px;}	
#loginForPopup:hover, .loggedUserLink :hover {background: #555; text-decoration:none;}
.loginbar .size1020 .toRight ul li a {color:#fff !important;}
li.vk a, li.tw a, li.fb a {width:22px;height:22px;margin:3px 4px;}
li.vk a {background: url(img/socialSprite.png) no-repeat;}
li.tw a {background: url(img/socialSprite.png) -22px 0;}
li.fb a {background: url(img/socialSprite.png) -44px 0;}
.navMenu li {float:left;line-height:36px;}
.navMenu li a:hover, .navMenu li.active {background: #fea500 url("gradientFourth-bg.png") repeat-x top;	-o-background-size: 100% 100%;	-moz-background-size: 100% 100%;	-webkit-background-size: 100% 100%;	background-size: 100% 100%;	/* Internet Explorer */	*background: #fea500;	background: #fea500\0/;	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FFfec100, endColorstr=#FFfea500);	}
.navMenu li a {display:block; color:#fff;text-decoration:none;padding:0px 10px;font-weight:bold;}
.search {width:200px;height:30px;background:#fff;margin: 24px 0px;padding: 0px 5px;margin: 0; width: 200px; height: 29px; border: 1px solid #CCC;margin:0; width:200px; height:29px; border:1px solid #ccc;}
.searchBar a { display:block; width:20px;height:20px; background:red;}
#submitSearch {width:30px;height:30px;background: url(img/lupa.png) #000 no-repeat 7px 7px;border-radius:2px;vertical-align:top;margin-top:24px;cursor:pointer;margin-top:0; width: 28px; height: 28px; background: url(img/lupa.png) black no-repeat 6px 6px;}
.mainArea {width:660px;}
.widgetArea {width:320px;-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: #C2C8CD; border: 1px solid #A2ABB3; margin-bottom: 15px; padding: 15px 10px 15px;-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: #C2C8CD; border: 1px solid #A2ABB3; margin-bottom: 15px; padding: 15px 10px 15px;}
.lastestNews {background:#eef0ee;height:34px;line-height:34px;padding:0px 10px;font-weight:bold;color:#666;}
.lastestNews a {color:#387ac1;display:inline-block;}
.navLeftAndRight a {width:20px;height:20px;background:#fff;color:#fff;line-height:20px;text-align:center;font-size:10px;}
.division {font-size:12px !important;}
.navLeftAndRight a:hover {text-decoration:none;}
.navTopAndBottom a {width:20px;height:20px;color:#fff;padding:1px 5px;}
.navTopAndBottom a:hover {text-decoration:none;}
.gallery { display: table; margin-top:10px; margin-bottom: 10px; padding: 7px; background-color: black; }
.caption p { text-align: justify; }
.caption h2 { font-size: 16px !important; }
.jqGallery {background:#000;height:320px;margin:10px 0px;}
.jqGallery  .toLeft {width:180px;padding:4px 8px;color:gray;}
.singlePreview {margin:4px 0px;width:178px;height:86px;border:1px solid #aaa;overflow:hidden;}
.mainImageGallery {padding:8px 8px 8px 0px;}
.descGalleryBG {position:absolute;margin-top:-68px;background:#000;opacity:0.7;width:680px;height:60px;}
.descGalleryTXT {position:absolute;margin-top:-68px;width:680px;height:60px;color:#fff;padding:4px 8px;overflow:hidden;}
.itemNews {border-top: 3px solid #edefed;padding: 8px 0px; border: 1px solid #CCC; background: white; padding: 10px 15px; margin-bottom: 10px;}
.itemNews .toLeft {margin:0px 8px 0px 0px;}
.category a {font-size:11px; color: #666;font-weight:bold;}
.itemNewsText h3 a {color: #006e97;font-size:18px;font-weight:normal;color:#000; font-weight:bold;}
.itemNewsText p {text-align:justify;padding: 10px 0 0 0; width:100%:}
.addInfo {margin-bottom:3px;margin-top:-3px;margin:0;}
.addInfo span, .addInfo span a {font-size:11px;color: #000;}
.addInfo span.newsAuthor {font-weight:bold;}
.widgetItem {background:#f3f3f3;margin-bottom:10px;border: 1px solid #A2ABB3;}
.widgetHead {height:30px;line-height:30px;background:#333;}
.widgetHead a {color:#fff;font-size:14px;font-weight:normal;}
.widgethead .toRight a.division {text-transform: capitalize; font-size:12px;}
.widgetHead .toLeft, .widgetHead .toRight {margin:0px 10px;color: #d3d3d3;}
.widgetBody {padding:8px;}
.calendarDate {border-bottom:1px solid #d3d3d3;}
.calendarDate a {color: #3d3d3d;}
.calendarMatches li {margin:5px 0px;display:block;color:#666;}
.calendarMatches h3 {font-size:14px;font-weight:normal;color: #3d3d3d;}
.calendarMatches h4 {font-size:11px;font-weight:normal;}
table {width:304px;}
tr:nth-child(2n){background:#eaeaea;}
th {text-align:left;}
td {padding:2px 0px;}
.tPlace {width:20px;padding:5px; width: 15px !important;padding-left:8px;}
.tTeam {width:199px;}
.tGames, .tPoints {text-align:center;}
.widgetBlogs toRight {height:90px;}
.blogsUserpic {width:130px;height:90px;overflow:hidden;}
.widgetBlogs .toLeft .blogName span a {font-size:14px;font-weight:bold;color: #006e97;}
.widgetBlogs .toLeft span {font-size: 11px;}
.widgetBlogs .toLeft span a {font-size:11px; font-weight:bold;color: #000;}
.widgetBlogs .toLeft p, .widgetBlogs .toLeft p span {font-size:11px;}
.singleBlogInfo, .listBlogItems {margin-top:5px;}
.listBlogItems  a {color:#006e97;font-weight:bold;}
.listBlogItems li {margin-top:3px;}
#footer {width:100%;height:auto;color:#fff;padding:20px 0px;margin-top:30px;border-top: 3px solid #F9A30E;}
#footer  p {text-align:center;}
.singleArticle, .singleblogentity {border-bottom:1px solid #dadada;padding-bottom:20px;text-align:justify;padding-right:20px;border-right:1px solid #dadada;margin-bottom:20px; background: #fff !important; margin-left: 0; padding: 10px 15px; border: 1px solid #CCC;background: #fff !important; margin-left: 0; padding: 20px 30px; border: 1px solid #CCC; }
.singleArticle i, .singleblogentity i  {font-size:13px;}
.singleArticle p strong:first-child, .singleblogentity p strong:first-child {line-height:17px;}
.singleArticle h2 {font-size:19px;}
.singleArticle .bigTitle {font-size:16pt;}
.singleArticle .bigTitle a {font-size:16pt !important;}
.singleArticle p, .singleArticle strong, .singleArticle b {font-size:13px;line-height:18px;margin: 15px 0px;text-align: justify;}
.authorInfoSingleBig {float:left;border:1px solid #d3d3d3;margin:15px 10px 5px 0px;padding:10px 15px 20px 15px;text-align:center; float:none; margin:0; padding:0;border:none; margin-top:3px;border-bottom: 1px solid #DADADA;float:none; margin:0; padding:0;border:none; margin-top:3px;border-bottom: 1px solid #DADADA;}
.authorInfoSingleBigPhoto {width:100px;height:120px;background:url(img/kt.png) no-repeat; margin: 0 auto;}
.authorInfoSingleBig h4 {line-height:10px;margin-bottom:5px;margin-bottom:0; line-height: 14px;}
.authorInfoSingleBig h3 a {color:#000;font-size:11px;}
.authorInfoSingleBig h4 span {font-size:10px;color:#ccc;font-weight:normal; color:#333;}

.authorInfoSingleSmall {float:left;}

.widgetNews ul li a, .widgetNewsMy ul li a  {color: #006e97;font-weight:bold;}
.widgetNews ul li, .widgetNewsMy ul li {border-bottom: 1px solid #DFDFDF;padding:5px 0;}
.widgetNews ul li:last-child, .widgetNewsMy ul li:last-child {border-bottom:none;padding-bottom:0;}
.widgetNews ul li  span, .widgetNewsMy ul li  span {color: #3d3d3d;font-size:10px;}
.comments {width:680px;height:140px;background:#dadada;margin-top:20px;}
.comments textarea {width:640px;margin:20px;height:60px;padding:5px;}
.comments input {margin-right:20px;padding:5px 10px; border-radius: 0; border: 1px solid #DADADA;}
.tags {margin-top:30px;}
.tags a {color:#006e97;font-weight:bold;}


/*fulltable*/
body {background: url(img/bdy.png);   min-height: 100%;  position: relative;}
#wrapper {width:1020px; margin:0 auto;background:#fff;padding:10px;}
.judges {padding:10px;}
.matchReport .authorinfosinglebig {margin-top:3px;}
.singlearticle {min-height:250px;}
.navMenu .size1020 {width:1038px;}

.caps {text-transform:uppercase;font-weight: normal;font-size: 14px;line-height:10px;}
.grayBg {background:#005455; color:#fff;}
.fullTable {width:680px;margin-top:15px; width: 660px; background: white; margin-top: 0; border: 1px solid #DADADA; padding: 0 10px 10px;width:660px; background:#fff; margin-top:0; border:1px solid #dadada;padding: 0 10px 10px;}
.fullTable td {width: auto;padding: 5px 0px;}
.fullTable td.tPlace {padding: 5px 10px;}


.widgetListStrikers  td {padding:5px;}
.widgetListStrikers tr{background:#eaeaea;}
.widgetListStrikers tr:nth-child(2n){background:transparent;}
.widgetListStrikers  tr td:nth-child(2n) {text-align:right;padding-right:10px;}
.headReport {border-bottom:3px solid #710000;text-align:right;height:24px;line-height:24px;text-transform:uppercase;margin-bottom:15px;}
.headReport span {font-size:14px;}
.matchReport h2 a, .matchReport h2 {font-size:15px;color:#fff;}
.matchReport h5 {color:#fff;font-weight:normal;}
.widgetListTeam table  td{padding:3px 0 3px 5px;}
.widgetListTeam table th {padding:5px 0px;padding:5px;}
.teamTwo {margin-top:10px;}
.teamOneReserve, .teamTwoReserve {border-top:1px solid #B8B8B8; margin-top:5px;}
tr.tdEleven td {border-top:1px solid #ccc;padding-top:5px;}
.widgetStats  p{padding:1px 0px;}

.infoSinglePlayer {padding-top:10px;margin-left:0px;border-top:0;}

.playerInfoSingleBig {width:180px;height:220px;float:left;padding-right:10px;}
.playerInfoSingleBigPhoto {width:170px;height:200px;background: url(img/kahn.jpg) -256px 5px no-repeat;}
.teamInfoSingleBigPhoto {width:150px;height:220px;background: url(img/dnpr.png)  no-repeat;}
ul.playerBio li {padding:2px 0px;}
ul.playerBio li span {font-weight:bold;}
ul.playerBio li span a {color:#006E97;}
.infoSinglePlayer table {width:649px;border:1px solid #dadada;margin-bottom:20px;width:100%; border:none; border-left: 1px solid #e2e2e2;border-right: 1px solid #E2E2E2;}
.infoSinglePlayer table td {padding: 5px;border-bottom: 1px solid #D6D6D6}
.infoSinglePlayer table a {color:#006E97;font-weight:bold;}
tr.thBld td {font-weight:bold;}
tr.lastStatTr td {border-top:1px solid #ccc;}
.thinGray {color:#fff; height:24px;line-height:24px;margin-top:5px;}
.profilePhotoSingle, .profileVideoSingle {width:649px;background:#000;width:608px;  background: #F3F3F3; border-top:none;}
.profilePhotoSingle  img{max-width:631px;padding:9px;max-width: 608px;}
.profileVideoSingle {width:631px;padding:9px;width:610px;}
.downupjq, .downupjqV {display:none;}
.singlePlayerVideo {margin-top:20px;}
.profileTeamCalender {width:649px;}
.headerOnline {padding:10px 0px;}
.headerOnline a {color:#006E97;font-weight:bold;}
.clockOnlineRefresh {margin:0px 0px 0px 10px;padding:3px 6px;background:#333;color:#fff;border-radius:2px;cursor:pointer;}
.clockOnline {font-size:19px;font-weight:bold;}
.oneOnlineItem  {border-top:1px solid #dadada;padding:10px 0px;}
.oneOnlineItem .toLeft {background: #333;padding:5px;margin-right:10px;width: 14px; text-align: center;}
.oneOnlineItem .toLeft span {font-size:12px;color:#fff;}


.loginBar .size1020 .toRight {position:relative;}
.loginPopUp {position:absolute;background:#fff;padding:5px;right:20px;top:25px;border:1px solid #ccc;width:250px;box-shadow: 3px 3px 20px #333;z-index: 50;}
.loginPopUp .toLeft span{font-size:13px;font-weight:bold;padding-right:10px;}
.loginPopUp .toRight span{font-size:22px;position:absolute;margin-left:-12px;margin-top:-4px;cursor:pointer;}
.loginPopUp .toRight span:hover{color:#ccc;}
.headerPopup {background:#333;padding:3px 5px;color:#fff;}
.loginPopUp {display:none;}
.loginPopUp:before, .loginPopUp:after{content:'';position:absolute;}
.loginPopUp:before{right:100px;top:-7px;width:0px;height:0px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #fff;}

#loginForm {margin-top:8px;}
#loginForm input {height:22px;border:1px solid #dadada;margin-bottom:5px;padding:0px 5px;width:98px;font-size:11px;}
#loginForm #loginSubmit {background:#333;border-radius:2px;color:#fff;width:40px;line-height:10px;margin-left:5px;border:none;}
#loginForm #loginSubmit:hover {background:#000;cursor:pointer;}
.loginPopUp .socNetAut {border-top: 1px solid #dadada;margin-top:5px;padding:5px 0px;color:#3d3d3d;text-align:center;}
.socNetAut span {font-size:11px;}
.vkEnter, .fbEnter, .twEnter, .okEnter, .mrEnter, .goEnter {display:inline-block;width:22px;height:22px;margin:5px 1px 0px 1px;}
.vkEnter {background: url(img/socialSprite.png) no-repeat -22px 0px;}
.twEnter {background: url(img/socialSprite.png) no-repeat -88px 0px;}
.okEnter {background: url(img/socialSprite.png) no-repeat -66px 0px;}
.mrEnter {background: url(img/socialSprite.png) no-repeat -44px 0px;}
.goEnter {background: url(img/socialSprite.png) no-repeat -110px 0px;}
.fbEnter {background: url(img/socialSprite.png) no-repeat;}


/*icons_squad*/
.outPlayer {display:inline-block;background: url(img/spriteMatch.png) no-repeat -30px -2px;width:10px;height:15px;}
.inPlayer {display:inline-block;background: url(img/spriteMatch.png) no-repeat -20px -2px;width:10px;height:15px;}
.yellowPlayer {display:inline-block;background: url(img/spriteMatch.png) no-repeat 0px 0px;width:10px;height:15px;}
.redPlayer {display:inline-block;background: url(img/spriteMatch.png) no-repeat -11px 0px;width:10px;height:15px;}
.goalPlayer {display:inline-block;background: url(img/spriteMatch.png) no-repeat -41px -3px;width:17px;height:15px;}
.goal2Player {display:inline-block;background: url(img/spriteMatch.png) no-repeat -41px -3px;width:27px;height:15px;}
.goal3Player {display:inline-block;background: url(img/spriteMatch.png) no-repeat -73px -3px;width:27px;height:15px;}

/*regPage and other*/
.regSter #footer {position:absolute;bottom:0px;}
.registerPageMain p {font-size:12px;color:#3d3d3d;}
.registerPageMain p span {font-size:12px;color:#000; font-weight:bold;}
#registerForm label {width:220px;height:25px;line-height:25px;display:inline-block;}
#registerForm input, #registerFormCaptcha input {height:25px;line-height:25px;width:350px;border:1px solid #dadada;padding:0px 5px;margin:3px 0px;}
#registerForm #regSubmit, #registerFormCaptcha  #captchaSubmit {background:#333;border-radius:2px;color:#fff;line-height:10px;border:none;margin:10px 0px;width:auto;padding:0px 15px;}
#registerForm #regSubmit:hover {background:#000;cursor:pointer;}
#registerFormCaptcha img {position:relative;top:8px;}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert-heading {
  color: inherit;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.label,
.badge {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}
.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
		  font-size: 10.998px; font-weight: bold; line-height: 14px; color: #333; text-shadow: none; white-space: nowrap; vertical-align: baseline; background-color: transparent;
}
a.label:hover,
a.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.galleria-errors { display: none;}

/*comments*/
.commentsList {width:670px; margin:10px; font-size:12px;width: 658px; margin: 0; border: 1px solid #DADADA; background: white; }
.comment {min-height:45px; padding:7px 0px 20px 0px; /*border-top: 1px solid #dadada;*/ border-bottom: 1px solid #fff; }
.commentUsername {display:inline-block; padding: 0px 5px 3px 0px; font-weight:bold;}
.commentAvatar {float:left; padding:5px 12px 0px 0px;}
.commentAvatar img {height:50px; width:50px;}
.commentTime {display:inline; color:#acadad; font-size:11px;}
.commentContent {font: 1.0em/1.615em Arial,Helvetica;}




.errorlist { color: red; }

.socialWidget { display: inline-block; }

/*table*/
.wwe-table {width:628px; font-family:arial; font-size:12px; border:1px solid #dadada; cursor:default;}
.wwe-table th {text-align:left; border-bottom:1px solid #dadada; width:36px; background:#000; color:#fff;}
.wwe-table th:first-child {width:25px;}
.wwe-table th:first-child + th {width:150px;}
.wwe-team-logo-10:root {background:red;}
.wwe-table th, .wwe-table td {padding:3px;}
.wwe-table tr:nth-child(even) {background:#ebebeb;}
.wwe-table tr:nth-child(even) td {border-bottom:1px solid #dadada;}
.wwe-table tr:nth-child(odd) td {border-bottom:1px solid #e4e4e4;}
.wwe-table tr:last-child td {border:none;}
.wwe-table tr td:nth-child(11), .wwe-table tr td:nth-child(12), .wwe-table tr th:nth-child(11), .wwe-table tr th:nth-child(12), .wwe-table tr th:nth-child(2), .wwe-table tr td:nth-child(2) {display:none;}
.wwe-table tr td:nth-child(3) {font-weight:bold;}
.wwe-table tr:hover {background:#d3d3d3;}

.import {width:616px; height:22px; line-height:22px; color:#fff; font-size:12px; background: #000;padding: 0 8px; font-weight: bold; margin-left:-2px;}
.import strong {font-size:13px;}
.import span {float:right; font-weight:normal;}

.flag {width: 30px; height: 17px; display: inline-block; position: relative; top: 2px; background: url(http://offside.by/static/css/flags24.png) no-repeat;}
.flag.de {background-position:  0 -51px;}
.flag.by {background-position:  0 -34px;}
.flag.ru {background-position:  0 -102px;}
.flag.en {background-position:  0 -119px;}
.flag.it {background-position:  0 -85px;}
.flag.sp {background-position:  0 -68px;}
.flag.lc {background-position:  0 -17px;}
.flag.le {background-position:  0 0;}

.team1 .profileTeamPlayers > table {margin-top:3px;}
.team1 .profileTeamPlayers > table tr td:first-child {width:320px;}
.team1 .profileTeamPlayers table td{border-bottom: 1px solid #DAD7D7; border-top: 1px solid white;}
.team1 .playerinfosinglebig {float:none; height:auto;}
.team1 .teamBio {display:none;}
.team1 .playerInfoSingleBigPhoto {background: url(http://offside.by/static/images/team.jpg) no-repeat top center, url(http://offside.by/static/images/team2.jpg) no-repeat bottom center !important; 
  background-size: contain!important;
  height:525px;
}
.playerIsTalking { background-color: #F8F6F0; }

.topStat {width:678px;}
.topStat .tdClass:hover {background:#000; cursor:default; color:#fff;}
.topStat .tdClass {border-left:1px solid #dadada;  border-top:1px solid #dadada; padding:0 4px; vertical-align:middle; width:211px; line-height:20px; background:#fff; float:left; font-size:11px;}
.topStat .tdClass span {float:right; font-weight:bold;font-size:11px;}
.logoCountry {display:inline-block; width:12px; height:9px; background:#ccc; margin-right:3px;}
.navlou {padding:3px 5px; background:#000; color:#fff; width:650px; font-size:11px;}
.navlou a {padding-right:5px;color:#fff; text-decoration:underline; font-size:11px;}
.topStat {margin-bottom:10px;}
.topStat.defaultResTable {display:block;}
.byResTable .logoCountry {background: url(10/spFlag.png) no-repeat;}
.ruResTable .logoCountry {background: url(10/spFlag.png) no-repeat; background-position: 0 -10px;}
.itResTable .logoCountry {background: url(10/spFlag.png) no-repeat; background-position: -13px -10px;}
.deResTable .logoCountry {background: url(10/spFlag.png) no-repeat; background-position: 0 -20px;}
.spResTable .logoCountry {background: url(10/spFlag.png) no-repeat; background-position: -13px 0px;}
.enResTable .logoCountry {background: url(10/spFlag.png) no-repeat; background-position: 0 -30px;}

.articlesArchive h2 {border-bottom: 1px solid #dadada !important;}
.articlesArchive a {color:#298FC9; font-size:13px;}
.articlesArchive span a {color: #8A8A8A; font-size:11px; font-weight:normal;}
.articlesArchive span a:after {content: " ";}

.wrapGG {width:1020px; border: 1px solid #CCC; min-height:250px;margin:0 auto; position:relative;background:#fff;}
.lnpGG {box-sizing:border-box; width:1020px; padding: 18px 23px 0 23px;}
.lnpGG input {background:#f7f7f7; border:none; color:#333; padding:3px 5px; width:180px;margin-bottom:10px;float:right;border: 1px solid #CCC;margin: 2px 5px;}
.lnpGG a {color:#333; text-decoration:none; border-bottom:1px #333 dashed; font-weight:bold;margin-left:5px; line-height:24px;}
.lnpGG a:hover {color:#000; border-bottom:none;;}
.lnpGG span {color:#dadada;margin-left:5px; line-height:30px; font-size:15px;}
.lnpGG h1 {font-size:16px; margin-bottom:10px; }
.lnpGG h2 {font-size:13px; margin-bottom:5px;}

.mainGGshow {box-sizing:border-box; float:left;padding-top:20px;padding-bottom:60px; position:relative;}
.mainGGshow ul {height:auto; overflow:hidden;}
.mainGGshow ul.down1 {height:auto; max-height:1360px;}
.mainGGshow ul.down2 {height:auto; max-height:2050px;}
.mainGGshow ul.down3 {height:auto; max-height:2740px;}
.mainGGshow ul.down4 {height:auto; max-height:3430px;}
.mainGGshow ul.down5 {height:auto; max-height:4120px;}
.mainGGshow ul.down6 {height:auto; max-height:4810px;}
.mainGGshow ul.down7 {height:auto; max-height:5500px;}
.mainGGshow ul.down8 {height:auto; max-height:6190px;}
.mainGGshow ul.down9 {height:auto; max-height:6880px;}
.mainGGshow ul.down10 {height:auto; max-height:7570px;}

.mainGGshow li {display:inline-block; width:298px; height:200px; border:1px solid #ccc;margin-left:28px; margin-bottom:28px; position:relative;}
.moreGG {position:absolute; bottom:30px;left:30px; background:#3a3a3a; width:960px;height:30px; text-align:center;}
.moreGG a {display:block;color:#fff; text-decoration:none;line-height:30px; font-size:16px;}
.moreGG a:hover {background:#000;}

#listGG li {overflow:hidden;float:left;}
#listGG li img {height:100%; overflow:hidden;}
a.hideAA {display:none;}
.descGG {position:absolute; bottom:0; background:#000; padding:3px 5px; width:100%; color:#fff;}

th.header { cursor:pointer; }
.publicPage {margin-bottom: 10px;}
.publicPage img {width: 36px; margin: 0 3px; border-radius: 18px;}
.publicPage a:hover img {opacity: 0.9;}
.widgetItem .publicPage {
    text-align: center;
}
.widgetItem .publicPage img {margin: 6px;}
.pubBanner .widgetHead {
    padding-left: 10px;
}
#developmentCup {position: fixed; width: 100%; height: 100%;z-index: -1;background: url('../images/cupBackground.svg') center no-repeat; background-size: cover;}

/* Таблицы для кубка развития */
.article953 table img {
  max-width: 20px;
}
.article953 table,.article954 table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  border-color: #bebebc;
  text-align: center;
}
.article953 table td,.article954 table td {
  padding: 10px;
  background: #fff;
  border: 1px solid;
  border-collapse: collapse;
  border-color: #bebebc;
}
.article953 table tr:first-of-type td,.article953 table tr:nth-child(n+6) td {
  background: #e9e9e7;
}
.article953.wu17 table tr:nth-child(n+6) td {
  background: #fff;
}
.article953.wu17 .filter-group {
    text-align: center;
    margin-bottom: 15px;
}
.article953.wu17 .filter-group button {
    background: #1E0047;
    border: none!important;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 21px;
    margin-right: 10px;
    outline: none!important;
    cursor: pointer;
}
.article953.wu17 .filter-group button.is-checked {
    background: #0B0028;
}
.article953 table tr:nth-child(7) td {
  padding: 0 10px;
}
.article953.wu17 table tr:nth-child(7) td {
  padding: 10px;
}
.article953 table:nth-child(6) tr:nth-child(2) td:nth-child(3),.article953 table:nth-child(6) tr:nth-child(3) td:nth-child(4),.article953 table:nth-child(6) tr:nth-child(4) td:nth-child(5),.article953 table:nth-child(6) tr:nth-child(5) td:nth-child(6),
.article953 table:nth-child(10) tr:nth-child(2) td:nth-child(3),.article953 table:nth-child(10) tr:nth-child(3) td:nth-child(4),.article953 table:nth-child(10) tr:nth-child(4) td:nth-child(5),.article953 table:nth-child(10) tr:nth-child(5) td:nth-child(6),
.article953 table:nth-child(14) tr:nth-child(2) td:nth-child(3),.article953 table:nth-child(14) tr:nth-child(3) td:nth-child(4),.article953 table:nth-child(14) tr:nth-child(4) td:nth-child(5),.article953 table:nth-child(14) tr:nth-child(5) td:nth-child(6) {
  background: #cacbc8;
}
.article953>table tr:nth-child(2) td:nth-child(3),.article953>table tr:nth-child(3) td:nth-child(4),.article953>table tr:nth-child(4) td:nth-child(5),.article953>table tr:nth-child(5) td:nth-child(6) {
    background: #fff!important;
}
.article953.wu17>table tr.active td {
    background: #e9e9e7!important;
}
div#success {
    width: 640px;
    display: inline-block;
}
div.inner {
    text-align: center;
}
.article953 table tr td:nth-child(2),.article953 table tr:nth-child(n+6) td:nth-child(3) {
  text-align: left;
}
.article953 table tr td:nth-child(n+3) {
  width: 33px;
}
.article953 table tr:nth-child(n+6) td {
  border: none;
}
.article953.wu17 table tr:nth-child(n+6) td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: #bebebc;
}
.article954 table {
  background: #fff;
}
.article954 table tr:first-of-type td {
  background: #e9e9e7;
}
.article954 table tr td:first-of-type {
  font-weight: 700;
}
.article954 table tr td:nth-child(3) {
  width: 40px;
}
.article953>table+p+h5+br~table tr td {
    width: inherit!important;
    text-align: center!important;
}
#news-container {
background: #fff;
padding: 0 8px;
margin-bottom: 10px;
border-radius: 3px 3px 0 0;
-webkit-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
-moz-box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
box-shadow: 0px 2px 2px 0px rgba(197,197,197,0.64);
}
#news-container:before {
display: block;
width: 329px;
content: "Новости ЧМ 2015 по футзалу";
color: #222;
font-size: 12px;
font-weight: 700;
height: 20px;
line-height: 20px;
border-bottom: 3px solid #005455;
margin: 0 -8px;
background-color: #fff;
padding: 8px;
}
#news-container .news:first-of-type {
  margin-top: 10px;
}
#news-container .news a {
color: #006E97;
font-weight: 400;
text-decoration: none;  
}
#news-container .news a:hover {
color: #0080AF;
}
#news-container .news {
padding: 5px 0;
border-bottom: 1px solid #ECECEC;
}
#news-container .news:nth-child(10),#news-container .news:last-of-type {
border-bottom: none;
}
#news-container .news:nth-child(n+11) {
display: none;
}
#news-container .news span {
  color: #818181;
font-size: 11px;
}
#vk_groups {
border-radius: 0;
overflow: hidden;
}
.join_community {
  border-radius: 0!important;
}
.widgetNews ul li a,.widgetNewsMy ul li a,#news-container .news a {
  color: #333;
}
.widgetNews ul li a:hover,.widgetNewsMy ul li a:hover,#news-container .news a:hover {
  color: #007374;
}